In [65]:
import pandas as pd
import json
import json_lines

In [66]:
### 1. COVID DATA BALI REGENCIES
###  -------------------------------------

## From scrapy spider

In [67]:
## Converting Json-Lines File to pandas DataFrame
##########################################

json_file = r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\CovidBali\CovidBali\daily.jl'

##Extract data from First TABLE
###############################################

data_first = []
with open(json_file, 'rb') as f:
    count = 0
    for line in json_lines.reader(f, broken=True):
        count+=1
        if count % 2 == 0: #this is the remainder operator
            for x in range(0, 10):
                data_first.append(line['data'][x])

df_first = pd.DataFrame(data_first)
df_first.to_csv('test.csv')

##Extract data from SECOND TABLE
###############################################
data_second = []

with open(json_file, 'rb') as f:
    count =0
    for line in json_lines.reader(f, broken=True):
        count+= 1
        if count % 2 != 0:
            for x in range(0, 10):
                data_second.append(line['data'][x])
df_second = pd.DataFrame(data_second)
df_second.head()

## Merge both df
#############################
df_merged = pd.merge(df_first, df_second, how= 'left', left_on=[1, 10], right_on=[1, 12])
df_merged.tail(11)
df_bali = df_merged
# df_bali.tail()
print(df_bali.head())

Error: JSON line can't be decoded. JSONDecodeError("Expecting ',' delimiter: line 1 column 13 (char 12)")
Error: JSON line can't be decoded. JSONDecodeError("Expecting ',' delimiter: line 1 column 13 (char 12)")
Error: JSON line can't be decoded. JSONDecodeError('Extra data: line 1 column 7 (char 6)')
Error: JSON line can't be decoded. JSONDecodeError("Expecting ',' delimiter: line 1 column 13 (char 12)")
Error: JSON line can't be decoded. JSONDecodeError("Expecting ',' delimiter: line 1 column 13 (char 12)")
Error: JSON line can't be decoded. JSONDecodeError('Extra data: line 1 column 7 (char 6)')
  0_x            10         1  2_x  3_x 4_x   5_x 6_x 7_x 8_x  ... 3_y 4_y  \
0   1   05 Dec 2020  JEMBRANA   -7   70   7   579   1  14   1  ...  26   0
1   2   05 Dec 2020   TABANAN  -10  434  35  1016   0  47  25  ...  21   2
2   3   05 Dec 2020    BADUNG   -9  159  27  2299   0  51  18  ...  27   0
3   4   05 Dec 2020  DENPASAR    1  166  26  3705   0  90  27  ...  48  -1
4   5   05 Dec 2020   GIANYAR  -16  234  31  1681   0  75  15  ...  29  -1

  5_y 6_y   7_y 8_y 9_y 10_y  11_y          12_y
0  11   1   626   0   0    1   663   05 Dec 2020
1  10  23  1466   0   0   25  1497   05 Dec 2020
2   4  18  2478   0   0   18  2509   05 Dec 2020
3  22  28  3891   0   0   27  3961   05 Dec 2020
4  10  16  1951   0   0   15  1990   05 Dec 2020

[5 rows x 26 columns]

In [68]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

columns = [
    'No','Date', 'Kabupaten / County', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'new_cases', 'total_cases', 'Date1', 'no', 'new PPLN/PMI', 'total history-of-foreign-travel/ migrant-worker (PPLN/PMI)', 'new domestic-travel-history', 'total domestic-travel-history (PPDN)', 'new_local_transmission', 'total_local_transmission',	'new_other_transmission', 'total_other_transmission', 'new_cases' ,'total_cases', 'date' ]

In [69]:

# delete columns 11_x and 12_x since both are empty
df_bali = df_bali.drop(['11_x', '12_x'], axis=1 )

In [70]:
# adjust column names

print(len(df_bali.columns), len(columns))


df_bali.columns= columns
df_bali.iloc[-1]

24 24

No                                                                           10
Date                                                                          0
Kabupaten / County                                            KABUPATEN LAINNYA
new_treatment                                                                 0
total_treatment                                                               6
new_recovered                                                                 0
total_recovered                                                              78
new_deaths                                                                    0
total_deaths                                                                234
new_cases                                                                     0
total_cases                                                                   0
Date1                                                                         0
no                                                                          NaN
new PPLN/PMI                                                                NaN
total history-of-foreign-travel/ migrant-worker (PPLN/PMI)                  NaN
new domestic-travel-history                                                 NaN
total domestic-travel-history (PPDN)                                        NaN
new_local_transmission                                                      NaN
total_local_transmission                                                    NaN
new_other_transmission                                                      NaN
total_other_transmission                                                    NaN
new_cases                                                                   NaN
total_cases                                                                 NaN
date                                                                        NaN
Name: 609, dtype: object

In [71]:
df = df_bali.copy()

In [72]:
# delete duplicate columns and convert dtypes
df = df.loc[:,~df.columns.duplicated()]

## fill NaN in Kabubaten Lain fileds (confirmed cases from outside of bali regency but detected in Bali have no match with reference-data e.g)
################################################
df_merged = df_merged.fillna(0)
df_merged[df_merged.isna().any(axis=1)]

## convert columns
df['No'] = df['No'].astype(int)
df['Name_EN'] = df['Kabupaten / County'].astype(str)
df['Name_EN'] = df['Name_EN'].str.casefold()
df.dtypes

No                                                             int32
Date                                                          object
Kabupaten / County                                            object
new_treatment                                                 object
total_treatment                                               object
new_recovered                                                 object
total_recovered                                               object
new_deaths                                                    object
total_deaths                                                  object
new_cases                                                     object
total_cases                                                   object
Date1                                                         object
no                                                            object
new PPLN/PMI                                                  object
total history-of-foreign-travel/ migrant-worker (PPLN/PMI)    object
new domestic-travel-history                                   object
total domestic-travel-history (PPDN)                          object
new_local_transmission                                        object
total_local_transmission                                      object
new_other_transmission                                        object
total_other_transmission                                      object
date                                                          object
Name_EN                                                       object
dtype: object

In [76]:
## convert date to datetime 
################################

# from datetime import datetime -> datetime.strptime(date, format)
# df["Date"].apply(lambda x: parse(df['Date']))
# or
# df['Date'] = pd.to_datetime(df['Date'])
## also possible

from dateutil.parser import parse
# check if Nan
# df['Date'].isnull().values

df['Date'] = df['Date'].str.strip()
df['Date'] = df['Date'].astype(str) 
df['Date'] = pd.to_datetime(df.Date, errors='coerce')
df['Date'][0]

AttributeError: Can only use .str accessor with string values!

In [28]:
# data cleaning, processing
##########################

# add addtitional data
df_ref = pd.read_excel('Bali_reference_data.xlsx')
df_ref = df_ref.drop(columns=['https://en.wikipedia.org/wiki/Bali#cite_note-BPS2019-2', 'https://sp2010.bps.go.id/index.php/site/tabel?tid=321&wid=0', 'Source'])

## adjust regency names of both data sources before merge
##########################
df_ref['Name_EN'] = df_ref['Name_Indo'].str.casefold()
df_ref.replace('kota denpasar', 'denpasar', inplace=True)
df_ref.replace('totals', 'bali', inplace=True)
df_ref.replace('Totals', 'Bali', inplace=True)

# df_ref.head(15)

Index([ '0_x',     10,      1,  '2_x',  '3_x',  '4_x',  '5_x',  '6_x',  '7_x',
        '8_x',  '9_x', '10_x', '11_x', '12_x',  '0_y',  '2_y',  '3_y',  '4_y',
        '5_y',  '6_y',  '7_y',  '8_y',  '9_y', '10_y', '11_y', '12_y'],
      dtype='object')

In [31]:
# merge both df on 'Name_EN'
df_merged = df.merge(df_ref, on="Name_EN", how='left')
df_merged.iloc[1]

No                                                                                 2
Date                                                             2020-12-05 00:00:00
Kabupaten / County                                                           TABANAN
new_treatment                                                                    -10
total_treatment                                                                  434
new_recovered                                                                     35
total_recovered                                                                 1016
new_deaths                                                                         0
total_deaths                                                                      47
new_cases                                                                         25
total_cases                                                                     1497
Date1                                                                    05 Dec 2020
no                                                                                 2
new PPLN/PMI                                                                       0
total history-of-foreign-travel/ migrant-worker (PPLN/PMI)                        21
new domestic-travel-history                                                        2
total domestic-travel-history (PPDN)                                              10
new_local_transmission                                                            23
total_local_transmission                                                        1466
new_other_transmission                                                             0
total_other_transmission                                                           0
date                                                                     05 Dec 2020
Name_EN                                                                      tabanan
Date_clean                                                               05 Dec 2020
Date_1                                                                   05 Dec 2020
Date_2                                                           2020-12-05 00:00:00
Name_Indo                                                                    Tabanan
Capital                                                                      Tabanan
area_km2                                                                      839.30
population_2000                                                               376.03
population_2010                                                              420.913
population_2015                                                              435.753
HDI_2014_estimate                                                       0.726 (High)
Gouvernor                                                     Ni Putu Eka Wiryastuti
Nr. of Sub-Districts                                                              10
Nr of Keluruhan/Villages                                                       -/133
Name: 1, dtype: object

In [ ]:

df_merged = df_merged.drop(['Date1', 'no'], axis=1)
df_merged.columns

# # convert to integers
int_numbers = ['new_treatment', 'total_treatment',
       'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths',
       'new_cases', 'total_cases', 'new PPLN/PMI',
       'total domestic-travel-history (PPDN)',
       'new domestic-travel-history', 'total domestic-travel-history (PPDN)',
       'new_local_transmission', 'total_local_transmission',
       'new_other_transmission', 'total_other_transmission']
## check for duplicated columns
print (df_merged.columns[df_merged.columns.duplicated(keep=False)])
df_merged[int_numbers] = df_merged[int_numbers].apply(pd.to_numeric)

In [ ]:


# ## add columns
df_merged['total_cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015'] * 100000
df_merged['total_cases_per_100k'] = df_merged['total_cases_per_100k'].apply(pd.to_numeric).round(2)

df_merged['total_deaths_per_100k'] = df_merged['total_deaths'] / df_merged['population_2015']
df_merged['total_deaths_per_100k'] = df_merged['total_deaths_per_100k'].apply(pd.to_numeric).round(2)

df_merged['cases7'] = df_merged['new_cases'].rolling(window=7, center=False).mean()
df_merged['cases7_per_100k'] = df_merged['cases7'] / df_merged['population_2015']
df_merged['cases7_per_100k'] = df_merged['cases7_per_100k'].apply(pd.to_numeric).round(2)

df_merged['total_cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015']
df_merged['total_cases_per_100k'] = df_merged['total_cases_per_100k'].apply(pd.to_numeric).round(2)

df_merged['deaths7'] = df_merged['new_deaths'].rolling(window=7, center=False).mean()
df_merged['deaths7_per_100k'] = df_merged['total_deaths_per_100k'].rolling(window=7, center=False).mean()
df_merged['deaths7_per_100k'] = df_merged['deaths7_per_100k'].apply(pd.to_numeric).round(2)

## Check new created values
##############################
df_merged[['total_deaths', 'total_cases', 'total_deaths_per_100k', 'population_2015', 'total_cases_per_100k']]

In [11]:

# ## drop temporary unnecessary columns
# drop_columns = ['New PPLN / PMI', 'new PPDN', 'total PPDN',
#        'new_local_transmission', 'total_local_transmission',
#        'new_other_transmission', 'total_other_transmission', 'Capital', 'population_2000',
#        'population_2010', 'HDI_2014_estimate', 'Gouvernor',
#        'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'area_km2' ]
# df_clean = df_merged.drop(columns=drop_columns)

In [12]:
## check NaN in df 
# nan_rows = df_clean[df_clean['population_2015'].isnull()]
# nan_rows

In [13]:
# infection fatality ratio (IFR), which estimates this proportion of deaths among all infected individuals. The second is case fatality ratio (CFR), which estimates this proportion of deaths among identified confirmed cases. 
# see https://www.who.int/news-room/commentaries/detail/estimating-mortality-from-covid-19

df_merged['CFR'] = df_merged['total_deaths'] / df_merged['total_cases'] * 100
df_merged['CFR'] = df_merged['CFR'].round(2)
df_merged['growth_rate_new_cases'] = df_merged['new_cases'].pct_change(fill_method ='ffill', periods=7)

In [14]:
## add id from geojson file
geojson_bali = 'new_bali_id.geojson'

# open new geojson (with id) file
bali_geo_id = json.load(open(geojson_bali, 'r'))

## get names of regencies
regencies = []
for regency in bali_geo_id['features']:
  regencies.append(regency['properties']['ADM2_EN'])

  # add id column in df with feature.id from geojson
bali_id_map = {}
for regency in bali_geo_id['features']:
  bali_id_map[regency['properties']['ADM2_EN']] = regency['id']
bali_id_map

## for Foreigners or Other Regency add 'id' = 0
df_merged['id'] = df_merged['Name_Indo'].apply(lambda x: bali_id_map[x] if x in bali_id_map else 0)
df_merged.head()

,No,Date,Kabupaten / County,new_treatment,total_treatment,new_recovered,total_recovered,new_deaths,total_deaths,new_cases,...,Nr of Keluruhan/Villages,total_cases_per_100k,total_deaths_per_100k,cases7,cases7_per_100k,deaths7,deaths7_per_100k,CFR,growth_rate_new_cases,id
0,1,2020-12-05,JEMBRANA,-7,70,7,579,1,14,1,...,10/41,2.44,0.05,NaN,NaN,NaN,NaN,2.11,NaN,5
1,2,2020-12-05,TABANAN,-10,434,35,1016,0,47,25,...,-/133,3.44,0.11,NaN,NaN,NaN,NaN,3.14,NaN,9
2,3,2020-12-05,BADUNG,-9,159,27,2299,0,51,18,...,16/46,4.08,0.08,NaN,NaN,NaN,NaN,2.03,NaN,1
3,4,2020-12-05,DENPASAR,1,166,26,3705,0,90,27,...,16/27,4.51,0.10,NaN,NaN,NaN,NaN,2.27,NaN,8
4,5,2020-12-05,GIANYAR,-16,234,31,1681,0,75,15,...,6/64,4.02,0.15,NaN,NaN,NaN,NaN,3.77,NaN,4

In [15]:
df_merged.to_csv('bali_regency_data.csv')

In [16]:
### 2. INDONESIA COVID DATA 
###  -------------------------------------

## From Kaggel Dataset
# 1. connect to kaggle and get latest dataset

In [17]:
pip install kaggle

Requirement already satisfied: kaggle in c:\programdata\anaconda3\lib\site-packages (1.5.10)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.14.0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.22.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2019.11.28)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.25.8)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.42.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from kaggle.api.kaggle_api_extended import KaggleApi

# from keys import kaggle_api

## 1. with Kaggle Api
api =KaggleApi()
api.authenticate()

# downoad single file
#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)
api.dataset_download_files('hendratno/covid19-indonesia/covid_19_indonesia_time_series_all.csv', unzip = True)
#

In [19]:
df_indo = pd.read_csv('covid_19_indonesia_time_series_all.csv')

df_indo.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,489,20,39,...,106.836118,-6.204699,0.18,45.09,0.0,1.84,4.09%,7.98%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,491,20,39,...,106.836118,-6.204699,0.18,45.27,0.0,1.84,4.07%,7.94%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-JB,Jawa Barat,3,0,0,3,12,5,120,...,107.603708,-6.920432,0.07,0.27,0.0,0.11,41.67%,1000.00%,NaN,NaN
4,3/2/2020,ID-RI,Riau,1,0,0,1,2,1,1,...,101.805109,0.511648,0.16,0.33,0.0,0.16,50.00%,50.00%,NaN,NaN

In [20]:
## convert dates to datetime format so matching with new dataframe before merging

from datetime import datetime
print(df_indo['Date'][0])
df_indo['Date'] = pd.to_datetime(df_indo['Date'])

## with datetime libary
# df_indo['Date'] = datetime.strptime(df_indo['Date'], '%m/%d/%Y').date()
# datetime.strptime(df_indo["Date"][0], '%m/%d/%Y').date()

df_indo['Date'][0]

3/1/2020

Timestamp('2020-03-01 00:00:00')

In [21]:
df_indo.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,489,20,39,...,106.836118,-6.204699,0.18,45.09,0.0,1.84,4.09%,7.98%,NaN,NaN
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,491,20,39,...,106.836118,-6.204699,0.18,45.27,0.0,1.84,4.07%,7.94%,1.0,1.0
2,2020-03-02,IDN,Indonesia,2,0,0,2,2,0,0,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00%,0.00%,NaN,NaN
3,2020-03-02,ID-JB,Jawa Barat,3,0,0,3,12,5,120,...,107.603708,-6.920432,0.07,0.27,0.0,0.11,41.67%,1000.00%,NaN,NaN
4,2020-03-02,ID-RI,Riau,1,0,0,1,2,1,1,...,101.805109,0.511648,0.16,0.33,0.0,0.16,50.00%,50.00%,NaN,NaN

In [22]:
## Get Bali and Indo Data from new Xlsx Sheet
## Source Kawal-Indo

df_indo_new = pd.read_excel('Indo_data.xlsx', 'Bali and Indo')
df_indo_new= df_indo_new.sort_values(by=['Date'], ascending=True)
df_indo_new['Date'][0]

## Merge with old data df

df_indo = df_indo.append(df_indo_new)

# check values
df_indo.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Total Active Cases
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2.0,489,20,39,...,-6.204699,0.18,45.09,0.0,1.84,4.09%,7.98%,NaN,NaN,NaN
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2.0,491,20,39,...,-6.204699,0.18,45.27,0.0,1.84,4.07%,7.94%,1.0,1.0,NaN
2,2020-03-02,IDN,Indonesia,2,0,0,2.0,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00%,0.00%,NaN,NaN,NaN
3,2020-03-02,ID-JB,Jawa Barat,3,0,0,3.0,12,5,120,...,-6.920432,0.07,0.27,0.0,0.11,41.67%,1000.00%,NaN,NaN,NaN
4,2020-03-02,ID-RI,Riau,1,0,0,1.0,2,1,1,...,0.511648,0.16,0.33,0.0,0.16,50.00%,50.00%,NaN,NaN,NaN

In [23]:
# df_indo.dtypes

In [24]:
print(list(df_merged.columns))

['No', 'Date', 'Kabupaten / County', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'new_cases', 'total_cases', 'new PPLN/PMI', 'New history-of-foreign-travel/ migrant-worker (PPLN/PMI)', 'new domestic-travel-histor', 'total domestic-travel-history (PPDN)', 'new_local_transmission', 'total_local_transmission', 'new_other_transmission', 'total_other_transmission', 'date', 'Name_EN', 'Name_Indo', 'Capital', 'area_km2', 'population_2000', 'population_2010', 'population_2015', 'HDI_2014_estimate', 'Gouvernor', 'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'total_cases_per_100k', 'total_deaths_per_100k', 'cases7', 'cases7_per_100k', 'deaths7', 'deaths7_per_100k', 'CFR', 'growth_rate_new_cases', 'id']

In [25]:
df_indo.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths',
       'Total Active Cases'],
      dtype='object')

In [26]:
# adjust column names
columns_new = ['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'CFR', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths', 'Total Active Cases']

df_indo.columns = columns_new
df_indo.columns

Index(['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million', 'CFR',
       'Case Recovered Rate', 'Growth Factor of New Cases',
       'Growth Factor of New Deaths', 'Total Active Cases'],
      dtype='object')

In [27]:
# add columns so consistent with Bali_regency data
df_indo['Name_EN'] = df_indo['Location'].str.casefold()

df_indo['new_cases_per_100k'] = df_indo['new_cases'] / df_indo['Population'] * 100000.0
df_indo['new_cases_per_100k'] = df_indo['new_cases_per_100k'].round(2)

df_indo['new_deaths_per_100k'] = df_indo['new_deaths'] / df_indo['Population'] * 100000.0
df_indo['new_deaths_per_100k']= df_indo['new_deaths_per_100k'].round(2)

df_indo['total_cases_per_100k'] = df_indo['total_cases'] / df_indo['Population'] * 100000.0
df_indo['total_cases_per_100k'] = df_indo['total_cases_per_100k'].round(2)

df_indo['total_deaths_per_100k'] = df_indo['total_deaths'] / df_indo['Population'] * 100000.0
df_indo['total_deaths_per_100k'] = df_indo['total_deaths_per_100k'].round(2)

# rolling 7-day average
df_indo['cases7'] = df_indo['new_cases'].rolling(window=7, center=False).mean().round(2)
df_indo['deaths7'] = df_indo['new_deaths'].rolling(window=7, center = False).mean().round(2)

df_indo['cases7_per_100k'] = df_indo['cases7'] / df_indo['Population'] *100000
df_indo['deaths7_per_100k'] = df_indo['deaths7'] / df_indo['Population'] *100000
df_indo['cases7_per_100k'] = df_indo['cases7_per_100k'].round(2)
df_indo['deaths7_per_100k'] = df_indo['deaths7_per_100k'].round(2)

# df_indo['growth_rate'] = df_indo['Growth Factor of New Cases']
df_indo['growth_rate_new_cases'] = df_indo['new_cases'].pct_change(periods=7, fill_method='ffill')

df_indo.tail()

,Date,Location ISO Code,Location,new_cases,new_deaths,new_recovered,New Active Cases,total_cases,total_deaths,total_recovered,...,Name_EN,new_cases_per_100k,new_deaths_per_100k,total_cases_per_100k,total_deaths_per_100k,cases7,deaths7,cases7_per_100k,deaths7_per_100k,growth_rate_new_cases
15,2021-01-16,NaN,Bali,319,3,149,NaN,21030,586,18217,...,bali,7.57,0.07,498.79,13.90,7257.71,161.86,172.14,3.84,0.190299
34,2021-01-17,NaN,Indonesia,11287,220,9102,NaN,907929,25987,736460,...,indonesia,4.26,0.08,342.38,9.80,7259.00,149.57,2.74,0.06,0.000798
16,2021-01-17,NaN,Bali,262,1,129,NaN,21292,587,18346,...,bali,6.21,0.02,505.01,13.92,5645.43,107.57,133.90,2.55,-0.977330
17,2021-01-18,NaN,Bali,238,4,251,NaN,21530,591,18597,...,bali,5.64,0.09,510.65,14.02,5637.00,107.86,133.70,2.56,-0.198653
35,2021-01-18,NaN,Indonesia,9086,295,9475,NaN,917015,26282,745935,...,indonesia,3.43,0.11,345.80,9.91,5103.86,116.00,1.92,0.04,-0.291153

In [28]:
## add id from geojson for choropleth Map
#########################################

# open new geojson (with id) file
geojson_indo = 'new_indo_id.geojson'
indo_geo_id = json.load(open(geojson_indo, 'r'))

In [29]:
indo_geo_id['features'][7]['id']

8

In [30]:
## ADJUST NAMES OF df_indo with NAMES OF GEOJSON ADM1_EN

# which names are different
names_df = df_indo['Location'].unique()
provinces = []
for province in indo_geo_id['features']:
  provinces.append(province['properties']['state'])

list(set(provinces) - set(names_df))

['Jakarta Raya', 'Bangka-Belitung', 'Yogyakarta', 'Irian Jaya Barat']

In [31]:
list_df = ['DKI Jakarta', 'Kalimantan Utara', 'Daerah Istimewa Yogyakarta', 'Papua Barat','Kepulauan Bangka Belitung']

list(set(provinces) - set(names_df))
list1= ['Bangka-Belitung', 'Jakarta Raya', 'Yogyakarta', 'Irian Jaya Barat']

In [32]:
# adjust Names of provnices in Indo

df_indo = df_indo.replace("DKI Jakarta", 'Jakarta Raya')
df_indo = df_indo.replace("Papua Barat", 'Irian Jaya Barat')
df_indo = df_indo.replace("Daerah Istimewa Yogyakarta", 'Yogyakarta')
df_indo = df_indo.replace("Kepulauan Bangka Belitung", 'Bangka-Belitung')

In [33]:
provinces = []
for province in indo_geo_id['features']:
  provinces.append(province['properties']['state'])

# add id column in df with feature.id from geojson
indo_id_map = {}
for province in indo_geo_id['features']:
  indo_id_map[province['properties']['state']] = province['id']
# indo_id_map

# ## for Foreigners or Other Regency add 'id' = 0
df_indo['id'] = df_indo['Location'].apply(lambda x: indo_id_map[x] if x in indo_id_map else 0)

df_indo.tail(40)

,Date,Location ISO Code,Location,new_cases,new_deaths,new_recovered,New Active Cases,total_cases,total_deaths,total_recovered,...,new_cases_per_100k,new_deaths_per_100k,total_cases_per_100k,total_deaths_per_100k,cases7,deaths7,cases7_per_100k,deaths7_per_100k,growth_rate_new_cases,id
9955,2020-12-31,ID-SA,Sulawesi Utara,88,1,0,87.0,9671,310,7003,...,3.33,0.04,366.06,11.73,138.57,0.29,5.25,0.01,0.600000,22
9956,2020-12-31,ID-SB,Sumatera Barat,117,3,26,88.0,23464,522,18030,...,2.12,0.05,425.13,9.46,150.57,0.71,2.73,0.01,2.545455,2
9957,2020-12-31,ID-SS,Sumatera Selatan,92,1,50,41.0,11826,599,9364,...,1.12,0.01,143.91,7.29,148.00,0.71,1.80,0.01,-0.163636,33
9958,2020-12-31,ID-SU,Sumatera Utara,83,0,82,1.0,18149,679,15403,...,0.56,0.00,122.01,4.56,156.00,0.71,1.05,0.00,2.074074,4
0,2021-01-01,NaN,Bali,101,1,93,NaN,17694,520,16124,...,2.40,0.02,419.67,12.33,102.00,0.86,2.42,0.02,-0.789144,24
18,2021-01-01,NaN,Indonesia,8072,191,6839,NaN,751270,22329,617936,...,3.04,0.07,283.30,8.42,1227.29,28.14,0.46,0.01,40.394872,0
1,2021-01-02,NaN,Bali,165,5,128,NaN,17859,525,16252,...,3.91,0.12,423.58,12.45,1245.43,28.86,29.54,0.68,3.342105,24
19,2021-01-02,NaN,Indonesia,7203,226,7582,NaN,758473,22555,625518,...,2.72,0.09,286.02,8.51,2261.86,61.00,0.85,0.02,80.852273,0
2,2021-01-03,NaN,Bali,119,2,78,NaN,17978,527,16330,...,2.82,0.05,426.41,12.50,2262.14,60.86,53.65,1.44,0.017094,24
20,2021-01-03,NaN,Indonesia,6877,179,6419,NaN,765350,22734,631937,...,2.59,0.07,288.61,8.57,3231.43,86.29,1.22,0.03,73.750000,0
21,2021-01-04,NaN,Indonesia,6753,177,7166,NaN,772103,22911,639103,...,2.55,0.07,291.16,8.64,4184.29,111.57,1.58,0.04,80.361446,0
3,2021-01-04,NaN,Bali,118,7,131,NaN,18096,534,16461,...,2.80,0.17,429.20,12.67,4186.71,112.43,99.30,2.67,0.168317,24
22,2021-01-05,NaN,Indonesia,7445,198,6643,NaN,779548,23109,645746,...,2.81,0.07,293.96,8.71,4097.14,113.43,1.55,0.04,-0.077676,0
4,2021-01-05,NaN,Bali,167,2,110,NaN,18263,536,16571,...,3.96,0.05,433.17,12.71,4097.43,113.00,97.18,2.68,0.012121,24
5,2021-01-06,NaN,Bali,191,7,155,NaN,18454,543,16726,...,4.53,0.17,437.70,12.88,3095.71,81.71,73.42,1.94,-0.973483,24
23,2021-01-06,NaN,Indonesia,8854,187,6767,NaN,788402,23296,652513,...,3.34,0.07,297.30,8.78,4343.57,108.14,1.64,0.04,73.403361,0
24,2021-01-07,NaN,Indonesia,9321,224,6924,NaN,797723,23520,659437,...,3.51,0.08,300.82,8.87,4692.71,114.57,1.77,0.04,0.355388,0
6,2021-01-07,NaN,Bali,189,5,137,NaN,18643,548,16863,...,4.48,0.12,442.18,13.00,3755.00,90.00,89.06,2.13,-0.972012,24
7,2021-01-08,NaN,Bali,231,4,114,NaN,18874,552,16977,...,5.48,0.09,447.66,13.09,3771.14,89.57,89.44,2.12,0.957627,24
25,2021-01-08,NaN,Indonesia,10617,233,7446,NaN,808340,23753,666883,...,4.00,0.09,304.82,8.96,4224.29,94.57,1.59,0.04,0.426058,0
8,2021-01-09,NaN,Bali,189,4,110,NaN,19063,556,17087,...,4.48,0.09,452.14,13.19,4227.43,94.86,100.27,2.25,0.131737,24
26,2021-01-09,NaN,Indonesia,10046,194,6628,NaN,818386,23947,673511,...,3.79,0.07,308.61,9.03,5635.29,121.57,2.13,0.05,51.596859,0
9,2021-01-10,NaN,Bali,169,3,112,NaN,19232,559,17199,...,4.01,0.07,456.15,13.26,4394.57,95.29,104.23,2.26,-0.980913,24
27,2021-01-10,NaN,Indonesia,9640,182,7513,NaN,828026,24129,681024,...,3.64,0.07,312.24,9.10,4440.14,89.29,1.67,0.03,0.034224,0
28,2021-01-11,NaN,Indonesia,8692,214,7715,NaN,836718,24343,688739,...,3.28,0.08,315.52,9.18,5654.86,119.14,2.13,0.04,44.989418,0
10,2021-01-11,NaN,Bali,253,4,162,NaN,19485,563,17361,...,6.00,0.09,462.15,13.35,5658.00,119.14,134.20,2.83,0.095238,24
29,2021-01-12,NaN,Indonesia,10047,302,7068,NaN,846765,24645,695807,...,3.79,0.11,319.31,9.29,5576.57,129.00,2.10,0.05,-0.053687,0
11,2021-01-12,NaN,Bali,350,6,136,NaN,19835,569,17497,...,8.30,0.14,470.45,13.50,5599.57,129.29,132.81,3.07,0.851852,24
12,2021-01-13,NaN,Bali,268,6,121,NaN,20103,575,17618,...,6.36,0.14,476.81,13.64,4202.71,102.43,99.68,2.43,-0.973323,24
30,2021-01-13,NaN,Indonesia,11278,306,7657,NaN,858043,24951,703464,...,4.25,0.12,323.56,9.41,5789.71,145.71,2.18,0.05,65.733728,0
31,2021-01-14,NaN,Indonesia,11557,295,7741,NaN,869600,25246,711205,...,4.36,0.11,327.92,9.52,6063.57,161.86,2.29,0.06,0.198859,0
13,2021-01-14,NaN,Bali,297,2,248,NaN,20400,577,17866,...,7.04,0.05,483.85,13.69,4864.29,131.57,115.37,3.12,-0.965831,24
32,2021-01-15,NaN,Indonesia,12818,238,7491,NaN,882418,25484,718696,...,4.83,0.09,332.75,9.61,6659.29,165.00,2.51,0.06,49.664032,0
14,2021-01-15,NaN,Bali,311,6,202,NaN,20711,583,18068,...,7.38,0.14,491.23,13.83,5268.43,122.71,124.96,2.91,-0.969045,24
33,2021-01-16,NaN,Indonesia,14224,283,8662,NaN,896642,25767,727358,...,5.36,0.11,338.12,9.72,7250.43,162.29,2.73,0.06,39.640000,0
15,2021-01-16,NaN,Bali,319,3,149,NaN,21030,586,18217,...,7.57,0.07,498.79,13.90,7257.71,161.86,172.14,3.84,0.190299,24
34,2021-01-17,NaN,Indonesia,11287,220,9102,NaN,907929,25987,736460,...,4.26,0.08,342.38,9.80,7259.00,149.57,2.74,0.06,0.000798,0
16,2021-01-17,NaN,Bali,262,1,129,NaN,21292,587,18346,...,6.21,0.02,505.01,13.92,5645.43,107.57,133.90,2.55,-0.977330,24
17,2021-01-18,NaN,Bali,238,4,251,NaN,21530,591,18597,...,5.64,0.09,510.65,14.02,5637.00,107.86,133.70,2.56,-0.198653,24
35,2021-01-18,NaN,Indonesia,9086,295,9475,NaN,917015,26282,745935,...,3.43,0.11,345.80,9.91,5103.86,116.00,1.92,0.04,-0.291153,0

In [34]:
df_indo.to_csv('indo_province_data.csv')

In [35]:
### 3. World Data
##------------------------


from kaggle.api.kaggle_api_extended import KaggleApi

# from keys import kaggle_api

## 1. with Kaggle Api
api =KaggleApi()
api.authenticate()

# downoad single file
#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)
# api.dataset_download_files('imdevskp/corona-virus-report/worldometer_data.csv', unzip=True)

# ## Datasets

# REALLY GOOD !!!!
# https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv