In [122]:
import pandas as pd
import json
import json_lines

In [123]:
### 1. COVID DATA BALI REGENCIES
###  -------------------------------------

## From scrapy spider

In [124]:
## Converting Json-Lines File to pandas DataFrame
##########################################

json_file = r'C:\Users\ansve\Coding\Projects-WebScraping\CovidBali\CovidBali\CovidBali\daily.jl'

##Extract data from First TABLE
###############################################

data_first = []
with open(json_file, 'rb') as f:
    count = 0
    for line in json_lines.reader(f, broken=True):
        count+=1
        if count % 2 == 0: #this is the remainder operator
            for x in range(0, 10):
                data_first.append(line['data'][x])

df_first = pd.DataFrame(data_first)
df_first.to_csv('test.csv')

##Extract data from SECOND TABLE
###############################################
data_second = []

with open(json_file, 'rb') as f:
    count =0
    for line in json_lines.reader(f, broken=True):
        count+= 1
        if count % 2 != 0:
            for x in range(0, 10):
                data_second.append(line['data'][x])
df_second = pd.DataFrame(data_second)
df_second.head()

## Merge both df
#############################
df_merged = pd.merge(df_first, df_second, how= 'left', left_on=[1, 10], right_on=[1, 12])
df_merged.tail(11)
df_bali = df_merged
# df_bali.tail()
df_bali.columns

Index([ '0_x',     10,      1,  '2_x',  '3_x',  '4_x',  '5_x',  '6_x',  '7_x',
        '8_x',  '9_x', '10_x',  '0_y',  '2_y',  '3_y',  '4_y',  '5_y',  '6_y',
        '7_y',  '8_y',  '9_y', '10_y',     11,     12],
      dtype='object')

In [125]:
## Column names from https://infocorona.baliprov.go.id/API/pendataan/laporan-harian-01.php and ...-02.php

columns = [
    'No','Date', 'Kabupaten / County', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'new_cases', 'total_cases', 'Date1', 'no', 'new PPLN/PMI', 'New history-of-foreign-travel/ migrant-worker (PPLN/PMI)', 'new domestic-travel-histor', 'total domestic-travel-history (PPDN)', 'new_local_transmission', 'total_local_transmission',	'new_other_transmission', 'total_other_transmission', 'new_cases' ,'total_cases', 'date' ]

In [126]:
df_bali.columns = columns
# df_bali.head()
df = df_bali.copy()

In [127]:
# delete duplicate columns and convert dtypes
df = df.loc[:,~df.columns.duplicated()]

## fill NaN in Kabubaten Lain fileds (confirmed cases from outside of bali regency but detected in Bali have no match with reference-data e.g)
################################################
df_merged = df_merged.fillna(0)
df_merged[df_merged.isna().any(axis=1)]

## convert columns
df['No'] = df['No'].astype(int)
df['Name_EN'] = df['Kabupaten / County'].astype(str)
df['Name_EN'] = df['Name_EN'].str.casefold()
df.dtypes

No                                                           int32
Date                                                        object
Kabupaten / County                                          object
new_treatment                                               object
total_treatment                                             object
new_recovered                                               object
total_recovered                                             object
new_deaths                                                  object
total_deaths                                                object
new_cases                                                   object
total_cases                                                 object
Date1                                                       object
no                                                          object
new PPLN/PMI                                                object
New history-of-foreign-travel/ migrant-worker (PPLN/PMI)    object
new domestic-travel-histor                                  object
total domestic-travel-history (PPDN)                        object
new_local_transmission                                      object
total_local_transmission                                    object
new_other_transmission                                      object
total_other_transmission                                    object
date                                                        object
Name_EN                                                     object
dtype: object

In [128]:
from dateutil.parser import parse
df['Date'] = df['date'].str.strip()
df['Date'] = df['Date'].astype(str)
df['Date'] = df['Date'].apply(lambda x: parse(x))
df.Date[1]

Timestamp('2020-12-05 00:00:00')

In [129]:
# data cleaning, processing
#------------------------

# add addtitional data
df_ref = pd.read_excel('Bali_reference_data.xlsx')
df_ref = df_ref.drop(columns=['https://en.wikipedia.org/wiki/Bali#cite_note-BPS2019-2', 'https://sp2010.bps.go.id/index.php/site/tabel?tid=321&wid=0', 'Source'])
df_ref['Name_EN'] = df_ref['Name_Indo'].str.casefold()
df_ref.replace('kota denpasar', 'denpasar', inplace=True)
df_ref.replace('totals', 'bali', inplace=True)
df_ref.replace('Totals', 'Bali', inplace=True)

# df_ref.head(15)

In [130]:
df_merged.columns

Index(['No', 'Date', 'Kabupaten / County', 'new_treatment', 'total_treatment',
       'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths',
       'new_cases', 'total_cases', 'Date1', 'no', 'new PPLN/PMI',
       'New history-of-foreign-travel/ migrant-worker (PPLN/PMI)',
       'new domestic-travel-histor', 'total domestic-travel-history (PPDN)',
       'new_local_transmission', 'total_local_transmission',
       'new_other_transmission', 'total_other_transmission', 'new_cases',
       'total_cases', 'date'],
      dtype='object')

In [131]:
# merge both df on 'Name_EN'
df_merged = df.merge(df_ref, on="Name_EN", how='left')
df_merged = df_merged.drop(['Date1', 'no'], axis=1)
df_merged.columns
# # convert to integers
int_numbers = ['new_treatment', 'total_treatment',
       'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths',
       'new_cases', 'total_cases', 'new PPLN/PMI',
       'New history-of-foreign-travel/ migrant-worker (PPLN/PMI)',
       'new domestic-travel-histor', 'total domestic-travel-history (PPDN)',
       'new_local_transmission', 'total_local_transmission',
       'new_other_transmission', 'total_other_transmission']
## check for duplicated columns
print (df_merged.columns[df_merged.columns.duplicated(keep=False)])
df_merged[int_numbers] = df_merged[int_numbers].apply(pd.to_numeric)


# ## add columns
df_merged['total_cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015'] * 100000
df_merged['total_cases_per_100k'] = df_merged['total_cases_per_100k'].apply(pd.to_numeric).round(2)

df_merged['total_deaths_per_100k'] = df_merged['total_deaths'] / df_merged['population_2015']
df_merged['total_deaths_per_100k'] = df_merged['total_deaths_per_100k'].apply(pd.to_numeric).round(2)

df_merged['cases7'] = df_merged['new_cases'].rolling(window=7, center=False).mean()
df_merged['cases7_per_100k'] = df_merged['cases7'] / df_merged['population_2015']
df_merged['cases7_per_100k'] = df_merged['cases7_per_100k'].apply(pd.to_numeric).round(2)

df_merged['total_cases_per_100k'] = df_merged['total_cases'] / df_merged['population_2015']
df_merged['total_cases_per_100k'] = df_merged['total_cases_per_100k'].apply(pd.to_numeric).round(2)

df_merged['deaths7'] = df_merged['new_deaths'].rolling(window=7, center=False).mean()
df_merged['deaths7_per_100k'] = df_merged['total_deaths_per_100k'].rolling(window=7, center=False).mean()
df_merged['deaths7_per_100k'] = df_merged['deaths7_per_100k'].apply(pd.to_numeric).round(2)

## Check new created values
##############################
df_merged[['total_deaths', 'total_cases', 'total_deaths_per_100k', 'population_2015', 'total_cases_per_100k']]

Index([], dtype='object')

,total_deaths,total_cases,total_deaths_per_100k,population_2015,total_cases_per_100k
0,14,663,0.05,271.423,2.44
1,47,1497,0.11,435.753,3.44
2,51,2509,0.08,615.148,4.08
3,90,3961,0.10,879.098,4.51
4,75,1990,0.15,494.729,4.02
...,...,...,...,...,...
435,40,1036,0.18,222.474,4.66
436,23,1049,0.13,175.573,5.97
437,53,1158,0.13,408.487,2.83
438,75,1515,0.12,645.893,2.35
439,2,172,NaN,NaN,NaN

In [134]:

# ## drop temporary unnecessary columns
# drop_columns = ['New PPLN / PMI', 'new PPDN', 'total PPDN',
#        'new_local_transmission', 'total_local_transmission',
#        'new_other_transmission', 'total_other_transmission', 'Capital', 'population_2000',
#        'population_2010', 'HDI_2014_estimate', 'Gouvernor',
#        'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'area_km2' ]
# df_clean = df_merged.drop(columns=drop_columns)

In [135]:
## check NaN in df 
# nan_rows = df_clean[df_clean['population_2015'].isnull()]
# nan_rows

In [136]:
# infection fatality ratio (IFR), which estimates this proportion of deaths among all infected individuals. The second is case fatality ratio (CFR), which estimates this proportion of deaths among identified confirmed cases. 
# see https://www.who.int/news-room/commentaries/detail/estimating-mortality-from-covid-19

df_merged['CFR'] = df_merged['total_deaths'] / df_merged['total_cases'] * 100
df_merged['CFR'] = df_merged['CFR'].round(2)
df_merged['growth_rate'] = df_merged['cases7'].pct_change(fill_method ='ffill', periods=7)

In [137]:
## add id from geojson file
geojson_bali = 'new_bali_id.geojson'

# open new geojson (with id) file
bali_geo_id = json.load(open(geojson_bali, 'r'))

## get names of regencies
regencies = []
for regency in bali_geo_id['features']:
  regencies.append(regency['properties']['ADM2_EN'])

  # add id column in df with feature.id from geojson
bali_id_map = {}
for regency in bali_geo_id['features']:
  bali_id_map[regency['properties']['ADM2_EN']] = regency['id']
bali_id_map

## for Foreigners or Other Regency add 'id' = 0
df_merged['id'] = df_merged['Name_Indo'].apply(lambda x: bali_id_map[x] if x in bali_id_map else 0)
df_merged.head()

,No,Date,Kabupaten / County,new_treatment,total_treatment,new_recovered,total_recovered,new_deaths,total_deaths,new_cases,...,Nr of Keluruhan/Villages,total_cases_per_100k,total_deaths_per_100k,cases7,cases7_per_100k,deaths7,deaths7_per_100k,CFR,growth_rate,id
0,1,2020-12-05,JEMBRANA,-7,70,7,579,1,14,1,...,10/41,2.44,0.05,NaN,NaN,NaN,NaN,2.11,NaN,5
1,2,2020-12-05,TABANAN,-10,434,35,1016,0,47,25,...,-/133,3.44,0.11,NaN,NaN,NaN,NaN,3.14,NaN,9
2,3,2020-12-05,BADUNG,-9,159,27,2299,0,51,18,...,16/46,4.08,0.08,NaN,NaN,NaN,NaN,2.03,NaN,1
3,4,2020-12-05,DENPASAR,1,166,26,3705,0,90,27,...,16/27,4.51,0.10,NaN,NaN,NaN,NaN,2.27,NaN,8
4,5,2020-12-05,GIANYAR,-16,234,31,1681,0,75,15,...,6/64,4.02,0.15,NaN,NaN,NaN,NaN,3.77,NaN,4

In [138]:
df_merged.to_csv('bali_regency_data.csv')

In [139]:
### 2. INDONESIA COVID DATA 
###  -------------------------------------

## From Kaggel Dataset
# 1. connect to kaggle and get latest dataset

In [140]:
pip install kaggle

Requirement already satisfied: kaggle in c:\programdata\anaconda3\lib\site-packages (1.5.10)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.25.8)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2.22.0)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from kaggle) (2019.11.28)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle) (1.14.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.42.1)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle) (4.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Note: you may need to restart the kernel to use updated packages.

In [141]:
from kaggle.api.kaggle_api_extended import KaggleApi

# from keys import kaggle_api

## 1. with Kaggle Api
api =KaggleApi()
api.authenticate()

# downoad single file
#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)
api.dataset_download_files('hendratno/covid19-indonesia/covid_19_indonesia_time_series_all.csv', unzip = True)
#

In [142]:
df_indo = pd.read_csv('covid_19_indonesia_time_series_all.csv')

df_indo.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,489,20,39,...,106.836118,-6.204699,0.18,45.09,0.0,1.84,4.09%,7.98%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,491,20,39,...,106.836118,-6.204699,0.18,45.27,0.0,1.84,4.07%,7.94%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-JB,Jawa Barat,3,0,0,3,12,5,120,...,107.603708,-6.920432,0.07,0.27,0.0,0.11,41.67%,1000.00%,NaN,NaN
4,3/2/2020,ID-RI,Riau,1,0,0,1,2,1,1,...,101.805109,0.511648,0.16,0.33,0.0,0.16,50.00%,50.00%,NaN,NaN

In [143]:
# df_indo.dtypes

In [144]:
print(list(df_merged.columns))

['No', 'Date', 'Kabupaten / County', 'new_treatment', 'total_treatment', 'new_recovered', 'total_recovered', 'new_deaths', 'total_deaths', 'new_cases', 'total_cases', 'new PPLN/PMI', 'New history-of-foreign-travel/ migrant-worker (PPLN/PMI)', 'new domestic-travel-histor', 'total domestic-travel-history (PPDN)', 'new_local_transmission', 'total_local_transmission', 'new_other_transmission', 'total_other_transmission', 'date', 'Name_EN', 'Name_Indo', 'Capital', 'area_km2', 'population_2000', 'population_2010', 'population_2015', 'HDI_2014_estimate', 'Gouvernor', 'Nr. of Sub-Districts', 'Nr of Keluruhan/Villages', 'total_cases_per_100k', 'total_deaths_per_100k', 'cases7', 'cases7_per_100k', 'deaths7', 'deaths7_per_100k', 'CFR', 'growth_rate', 'id']

In [145]:
# adjust column names
columns_new = ['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'CFR', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths']

df_indo.columns = columns_new
df_indo.columns

Index(['Date', 'Location ISO Code', 'Location', 'new_cases', 'new_deaths',
       'new_recovered', 'New Active Cases', 'total_cases', 'total_deaths',
       'total_recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million', 'CFR',
       'Case Recovered Rate', 'Growth Factor of New Cases',
       'Growth Factor of New Deaths'],
      dtype='object')

In [146]:

# add columns so consistent with Bali_regency data
df_indo['Name_EN'] = df_indo['Location'].str.casefold()

df_indo['new_cases_per_100k'] = df_indo['New Cases per Million'] / 100.0
df_indo['new_cases_per_100k'] = df_indo['new_cases_per_100k'].round(2)

df_indo['new_deaths_per_100k'] = df_indo['New Deaths per Million'] / 100.0
df_indo['new_deaths_per_100k']= df_indo['new_deaths_per_100k'].round(2)

df_indo['total_cases_per_100k'] = df_indo['Total Cases per Million'] / 100.0
df_indo['total_cases_per_100k'] = df_indo['total_cases_per_100k'].round(2)

df_indo['total_deaths_per_100k'] = df_indo['Total Deaths per Million'] / 100.0
df_indo['total_deaths_per_100k'] = df_indo['total_deaths_per_100k'].round(2)

# rolling 7-day average
df_indo['cases7'] = df_indo['new_cases'].rolling(window=7, center=False).mean().round(2)
df_indo['deaths7'] = df_indo['new_deaths'].rolling(window=7, center = False).mean().round(2)

df_indo['cases7_per_100k'] = df_indo['cases7'] / df_indo['Population'] *100000
df_indo['deaths7_per_100k'] = df_indo['deaths7'] / df_indo['Population'] *100000
df_indo['cases7_per_100k'] = df_indo['cases7_per_100k'].round(2)
df_indo['deaths7_per_100k'] = df_indo['deaths7_per_100k'].round(2)

df_indo['growth_rate'] = df_indo['Growth Factor of New Cases']
# df_indo['growth_rate'] = df_indo['cases7'].pct_change(periods=7, fill_method='ffill')

df_indo.tail()

,Date,Location ISO Code,Location,new_cases,new_deaths,new_recovered,New Active Cases,total_cases,total_deaths,total_recovered,...,Name_EN,new_cases_per_100k,new_deaths_per_100k,total_cases_per_100k,total_deaths_per_100k,cases7,deaths7,cases7_per_100k,deaths7_per_100k,growth_rate
9954,12/31/2020,ID-SG,Sulawesi Tenggara,38,0,24,14,7907,147,6696,...,sulawesi tenggara,0.14,0.00,30.00,0.56,133.86,0.29,5.08,0.01,0.60
9955,12/31/2020,ID-SA,Sulawesi Utara,88,1,0,87,9671,310,7003,...,sulawesi utara,0.33,0.00,36.61,1.17,138.57,0.29,5.25,0.01,2.59
9956,12/31/2020,ID-SB,Sumatera Barat,117,3,26,88,23464,522,18030,...,sumatera barat,0.21,0.01,42.51,0.95,150.57,0.71,2.73,0.01,0.94
9957,12/31/2020,ID-SS,Sumatera Selatan,92,1,50,41,11826,599,9364,...,sumatera selatan,0.11,0.00,14.39,0.73,148.00,0.71,1.80,0.01,0.84
9958,12/31/2020,ID-SU,Sumatera Utara,83,0,82,1,18149,679,15403,...,sumatera utara,0.06,0.00,12.20,0.46,156.00,0.71,1.05,0.00,0.93

In [147]:
## add id from geojson
geojson_indo = 'new_indo_id.geojson'

# open new geojson (with id) file
indo_geo_id = json.load(open(geojson_indo, 'r'))

In [148]:
indo_geo_id['features'][7]['id']

8

In [149]:
## ADJUST NAMES OF df_indo with NAMES OF GEOJSON ADM1_EN

# which names are different
names_df = df_indo['Location'].unique()
provinces = []
for province in indo_geo_id['features']:
  provinces.append(province['properties']['state'])

list(set(provinces) - set(names_df))

['Irian Jaya Barat', 'Yogyakarta', 'Jakarta Raya', 'Bangka-Belitung']

In [150]:
list_df = ['DKI Jakarta', 'Kalimantan Utara', 'Daerah Istimewa Yogyakarta', 'Papua Barat','Kepulauan Bangka Belitung']

list(set(provinces) - set(names_df))
list1= ['Bangka-Belitung', 'Jakarta Raya', 'Yogyakarta', 'Irian Jaya Barat']

In [151]:
# adjust Names of provnices in Indo

df_indo = df_indo.replace("DKI Jakarta", 'Jakarta Raya')
df_indo = df_indo.replace("Papua Barat", 'Irian Jaya Barat')
df_indo = df_indo.replace("Daerah Istimewa Yogyakarta", 'Yogyakarta')
df_indo = df_indo.replace("Kepulauan Bangka Belitung", 'Bangka-Belitung')

In [152]:
provinces = []
for province in indo_geo_id['features']:
  provinces.append(province['properties']['state'])

# add id column in df with feature.id from geojson
indo_id_map = {}
for province in indo_geo_id['features']:
  indo_id_map[province['properties']['state']] = province['id']
# indo_id_map

# ## for Foreigners or Other Regency add 'id' = 0
df_indo['id'] = df_indo['Location'].apply(lambda x: indo_id_map[x] if x in indo_id_map else 0)

df_indo.head()

,Date,Location ISO Code,Location,new_cases,new_deaths,new_recovered,New Active Cases,total_cases,total_deaths,total_recovered,...,new_cases_per_100k,new_deaths_per_100k,total_cases_per_100k,total_deaths_per_100k,cases7,deaths7,cases7_per_100k,deaths7_per_100k,growth_rate,id
0,3/1/2020,ID-JK,Jakarta Raya,2,0,0,2,489,20,39,...,0.0,0.0,0.45,0.02,NaN,NaN,NaN,NaN,NaN,27
1,3/2/2020,ID-JK,Jakarta Raya,2,0,0,2,491,20,39,...,0.0,0.0,0.45,0.02,NaN,NaN,NaN,NaN,1.0,27
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,0.0,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,0
3,3/2/2020,ID-JB,Jawa Barat,3,0,0,3,12,5,120,...,0.0,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,29
4,3/2/2020,ID-RI,Riau,1,0,0,1,2,1,1,...,0.0,0.0,0.00,0.00,NaN,NaN,NaN,NaN,NaN,18

In [153]:
df_indo.to_csv('indo_province_data.csv')

In [154]:
### 3. World Data
##------------------------


from kaggle.api.kaggle_api_extended import KaggleApi

# from keys import kaggle_api

## 1. with Kaggle Api
api =KaggleApi()
api.authenticate()

# downoad single file
#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)
# api.dataset_download_files('imdevskp/corona-virus-report/worldometer_data.csv', unzip=True)

# ## Datasets

# REALLY GOOD !!!!
# https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv