In [121]:

## To-Dos
##################

# in the end

## sort_dates

## save as csv

## check

## add to main data processing Notebook

In [122]:
import pandas as pd
import numpy as np

In [123]:
df = pd.read_excel('kawalcovid19_Indo_Data.xlsx', sheet_name="Timeline")
df.head()

,Total Kasus,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Unnamed: 36
0,2020-03-18 00:00:00,0,1,17,0,0,3,158,0,24,...,1,0,0,0,0,0,0,0,0,NaN
1,2020-03-19 00:00:00,0,1,27,0,0,5,210,0,26,...,2,0,0,0,0,0,0,0,0,NaN
2,2020-03-20 00:00:00,0,4,37,0,0,4,215,0,41,...,1,0,0,0,0,0,0,0,13,NaN
3,2020-03-21 00:00:00,0,3,43,0,0,5,267,0,55,...,1,0,0,0,0,0,0,0,10,NaN
4,2020-03-22 00:00:00,0,3,47,0,0,5,307,0,59,...,1,0,1,0,2,0,0,0,6,NaN

In [124]:
## transform excel sheet to timeseries table (columns: Data, Province, total_cases, daily_cases, active_cases etc.)
case_type = ['Total Kasus', 'Kasus Harian', 'Kasus Aktif', 'Sembuh', 'Sembuh Harian', 'Meninggal Dunia', 'Meninggal Dunia Harian', 'Meninggal Dunia Harian']

In [125]:
# extract df for each case-type
##################################

# to do:
# replace all NaN with 0
# delete empty rows
# adjust header
# extract for each Province, add Province Name and merge, and sort by date

df_totalKasus = df.iloc[:df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]]
df_totalKasus = df_totalKasus.rename(columns={'Total Kasus': "Date"})
df_totalKasus= df_totalKasus.fillna(0)
df_totalKasus.set_index('Date', inplace=True)
df_totalKasus= df_totalKasus[:-1]
df_totalKasus = df_totalKasus.drop(['?', 'Unnamed: 36'], axis=1)

df_kasusHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]]
df_kasusHarian = df_kasusHarian.rename(columns={'Total Kasus': "Date"})
df_kasusHarian= df_kasusHarian.fillna(0)
df_kasusHarian.set_index('Date', inplace=True)
df_kasusHarian= df_kasusHarian[1:-1]
df_kasusHarian = df_kasusHarian.drop(['?', 'Unnamed: 36'], axis=1)

df_kasusAktif = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]]
df_kasusAktif = df_kasusAktif.rename(columns={'Total Kasus': "Date"})
df_kasusAktif= df_kasusAktif.fillna(0)
df_kasusAktif.set_index('Date', inplace=True)
df_kasusAktif= df_kasusAktif[1:-1]
df_kasusAktif = df_kasusAktif.drop(['?', 'Unnamed: 36'], axis=1)

df_sembuh = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]]
df_sembuh = df_sembuh.rename(columns={'Total Kasus': "Date"})
df_sembuh= df_sembuh.fillna(0)
df_sembuh.set_index('Date', inplace=True)
df_sembuh= df_sembuh[1:-1]
df_sembuh = df_sembuh.drop(['?', 'Unnamed: 36'], axis=1)

df_sembuhHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]]
df_sembuhHarian = df_sembuhHarian.rename(columns={'Total Kasus': "Date"})
df_sembuhHarian= df_sembuhHarian.fillna(0)
df_sembuhHarian.set_index('Date', inplace=True)
df_sembuhHarian= df_sembuhHarian[1:-1]
df_sembuhHarian = df_sembuhHarian.drop(['?', 'Unnamed: 36'], axis=1)

df_meninggalDunia = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]]
df_meninggalDunia = df_meninggalDunia.rename(columns={'Total Kasus': "Date"})
df_meninggalDunia= df_meninggalDunia.fillna(0)
df_meninggalDunia.set_index('Date', inplace=True)
df_meninggalDunia= df_meninggalDunia[1:-1]
df_meninggalDunia = df_meninggalDunia.drop(['?', 'Unnamed: 36'], axis=1)

df_meninggalDuniaHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[1]]
df_meninggalDuniaHarian = df_meninggalDuniaHarian.rename(columns={'Total Kasus': "Date"})
df_meninggalDuniaHarian= df_meninggalDuniaHarian.fillna(0)
df_meninggalDuniaHarian.set_index('Date', inplace=True)
df_meninggalDuniaHarian= df_meninggalDuniaHarian[1:-3]
df_meninggalDuniaHarian = df_meninggalDuniaHarian.drop(['?', 'Unnamed: 36'], axis=1)

In [126]:

dfs = [df_totalKasus, df_kasusHarian, df_kasusAktif, df_sembuh, df_sembuhHarian, df_meninggalDunia, df_meninggalDuniaHarian]
dfs_names = ["df_totalKasus", "df_kasusHarian", "df_kasusAktif", "df_sembuh","df_sembuhHarian", "df_meninggalDunia", "df_meninggalDuniaHarian"]
dfs_type = ["totalKasus", "kasusHarian", "kasusAktif", "sembuh","sembuhHarian", "meninggalDunia", "meninggalDuniaHarian"]

In [127]:
column_names = df_totalKasus.columns
column_names

Index(['Aceh', 'Bali', 'Banten', 'Babel', 'Bengkulu', 'DIY', 'Jakarta',
       'Jambi', 'Jabar', 'Jateng', 'Jatim', 'Kalbar', 'Kaltim', 'Kalteng',
       'Kalsel', 'Kaltara', 'Kep Riau', 'NTB', 'Sumsel', 'Sumbar', 'Sulut',
       'Sumut', 'Sultra', 'Sulsel', 'Sulteng', 'Lampung', 'Riau', 'Malut',
       'Maluku', 'Papbar', 'Papua', 'Sulbar', 'NTT', 'Gorontalo'],
      dtype='object')

In [128]:
## First Dataframe - Total Kasus

df_totKasus = pd.DataFrame({'Province': [0], "Total Kasus":[0]})
for i, province in enumerate(column_names):
    case_numbers = df_totalKasus[province]
    df_x = pd.DataFrame({'Province': case_numbers, "Total Kasus": case_numbers })
    df_x["Province"] = column_names[i]
    # df_x['Total Kasus'] = df_totalKasus[province]
    if i == 0:
        df_totKasus = df_x
    else:
        df_totKasus = df_totKasus.append(df_x)

In [129]:
print(df_totKasus.shape)
df_totKasus1 = df_totKasus.reset_index()
df_totKasus1.head()

(12036, 2)

        Date Province  Total Kasus
0 2020-03-18     Aceh            0
1 2020-03-19     Aceh            0
2 2020-03-20     Aceh            0
3 2020-03-21     Aceh            0
4 2020-03-22     Aceh            0

In [130]:
## since memory error split dataframes (only with join)
## learning: if not merge on index -> use .merge() 2) reset_index() get datetime out of index first

dfs1 =dfs[1:]
df_total = pd.DataFrame({"Date": [0], 'Province': [0], dfs_type[0]:[0]})

for index, df in enumerate(dfs1):
    count = index + 1
    df_name = dfs_names[index+1]+'Clean'
    df_name = pd.DataFrame({"Date": [0], 'Province': [0], dfs_type[count]:[0]})
    for i, province in enumerate(column_names):
        case_numbers = df[province]
        df_x = pd.DataFrame({'Province': case_numbers, dfs_type[count]: case_numbers })
        df_x["Province"] = column_names[i]
        if i == 0:
            df_name = df_x
        else:
            df_name = df_name.append(df_x)

    df_name = df_name.reset_index()
    if index == 0:
        df_total = df_name
    else:
        df_total = pd.merge(df_total, df_name, on=['Date', 'Province'])

In [131]:
## sort_dates
# check if datetime format correct
print(df_total['Date'].iloc[0])
df_total = df_total.sort_values(by="Date")
df_total.head()

2020-03-21 00:00:00

,Date,Province,kasusHarian,kasusAktif,sembuh,sembuhHarian,meninggalDunia,meninggalDuniaHarian
0,2020-03-21,Aceh,0,0,0,0,0,0
350,2020-03-21,Bali,0,2,0,0,1,0
9800,2020-03-21,Maluku,0,0,0,0,0,0
10850,2020-03-21,Sulbar,0,0,0,0,0,0
9450,2020-03-21,Malut,0,0,0,0,0,0

In [132]:

# merge with total Kasus df from before
df_total = pd.merge(df_total, df_totKasus1, on=['Date', 'Province'])
df_total.head()

,Date,Province,kasusHarian,kasusAktif,sembuh,sembuhHarian,meninggalDunia,meninggalDuniaHarian,Total Kasus
0,2020-03-21,Aceh,0,0,0,0,0,0,0
1,2020-03-21,Bali,0,2,0,0,1,0,3
2,2020-03-21,Maluku,0,0,0,0,0,0,0
3,2020-03-21,Sulbar,0,0,0,0,0,0,0
4,2020-03-21,Malut,0,0,0,0,0,0,0

In [133]:
df_total['Province'].unique()

array(['Aceh', 'Bali', 'Maluku', 'Sulbar', 'Malut', 'Banten', 'Riau',
       'Lampung', 'Babel', 'Sulteng', 'Sulsel', 'Bengkulu', 'Sultra',
       'Sumut', 'DIY', 'Papbar', 'Sulut', 'NTT', 'Jakarta', 'Sumsel',
       'NTB', 'Jambi', 'Kep Riau', 'Jabar', 'Kaltara', 'Kalsel',
       'Gorontalo', 'Jateng', 'Kalteng', 'Kaltim', 'Jatim', 'Sumbar',
       'Papua', 'Kalbar'], dtype=object)

In [134]:
# adjust Province Names
indo_slang_prov_names = ['Aceh', 'Bali', 'Maluku', 'Sulbar', 'Malut', 'Banten', 'Riau',
       'Lampung', 'Babel', 'Sulteng', 'Sulsel', 'Bengkulu', 'Sultra',
       'Sumut', 'DIY', 'Papbar', 'Sulut', 'NTT', 'Jakarta', 'Sumsel',
       'NTB', 'Jambi', 'Kep Riau', 'Jabar', 'Kaltara', 'Kalsel',
       'Gorontalo', 'Jateng', 'Kalteng', 'Kaltim', 'Jatim', 'Sumbar',
       'Papua', 'Kalbar']

# from previous Indo-province dataset
correct_prov_names = ['Jakarta Raya', 'Indonesia', 'Jawa Barat', 'Riau', 'Banten',
       'Sulawesi Tenggara', 'Kalimantan Timur', 'Yogyakarta',
       'Sumatera Utara', 'Jawa Tengah', 'Jawa Timur', 'Sulawesi Selatan',
       'Maluku', 'Papua', 'Maluku Utara', 'Aceh', 'Kalimantan Tengah',
       'Lampung', 'Sulawesi Tengah', 'Sumatera Barat', 'Irian Jaya Barat',
       'Kalimantan Utara', 'Sulawesi Barat', 'Sumatera Selatan', 'Bali',
       'Kalimantan Barat', 'Jambi', 'Kalimantan Selatan',
       'Bangka-Belitung', 'Kepulauan Riau', 'Bengkulu',
       'Nusa Tenggara Barat', 'Nusa Tenggara Timur',
       'Gorontalo']

In [135]:

print(list(set(indo_slang_prov_names) - set(correct_prov_names)))

# adjust column names
df_total = df_total.replace({'Sultra': 'Sulawesi Utara'})
df_total = df_total.replace({"Jakarta": 'Jakarta Raya'})
df_total = df_total.replace({"Kalteng": 'Kalimantan Tengah'})
df_total = df_total.replace({'Sulsel': 'Sulawesi Selatan'})
df_total = df_total.replace({'Sulut': 'Sulawesi Utara'})
df_total = df_total.replace({'Kaltim': "Kalimantan Timur"})
df_total = df_total.replace({'Kalsel': 'Kalimantan Selatan'})
df_total = df_total.replace({'Malut': 'Maluku Utara'})
df_total = df_total.replace({'Sumsel': 'Sumatera Barat'})
df_total = df_total.replace({'NTT': 'Nusa Tenggara Timur'})
df_total = df_total.replace({'Kalbar': 'Kalimantan Barat'})
df_total = df_total.replace({'Jateng': 'Jawa Tengah'})
df_total = df_total.replace({'Kep Riau': 'Kepulauan Riau'})
df_total = df_total.replace({'Kaltara': 'Kalimantan Utara'})
df_total = df_total.replace({'Sulbar': 'Sulawesi Barat'})
df_total = df_total.replace({'Babel': 'Bangka-Belitung'})
df_total = df_total.replace({'Jatim': "Jawa Timur"})
df_total = df_total.replace({'Sumbar': 'Sumatera Barat'})
df_total = df_total.replace({"Sumut": 'Sumatera Utara'})
df_total = df_total.replace({'Jabar': 'Jawa Barat'})
df_total = df_total.replace({'NTB': 'Nusa Tenggara Barat'})
df_total = df_total.replace({'DIY': 'Yogyakarta'})
df_total = df_total.replace({'Sulteng': 'Sulawesi Tengah'})
df_total = df_total.replace({'Papbar': 'Papua'})
df_total = df_total.replace({'Jakarta': 'Jakarta Raya'})

['Sultra', 'Jakarta', 'Kalteng', 'Sulsel', 'Sulut', 'Kaltim', 'Kalsel', 'Malut', 'Sumsel', 'NTT', 'Kalbar', 'Jateng', 'Kep Riau', 'Kaltara', 'Sulbar', 'Babel', 'Jatim', 'Sumbar', 'Sumut', 'Jabar', 'NTB', 'DIY', 'Sulteng', 'Papbar']

In [136]:
df_total.columns

Index(['Date', 'Province', 'kasusHarian', 'kasusAktif', 'sembuh',
       'sembuhHarian', 'meninggalDunia', 'meninggalDuniaHarian',
       'Total Kasus'],
      dtype='object')

In [137]:
#adjust column names

new_col_names = ['Date', 'Province', 'new_cases', 'active_cases', 'total_recovered', 'new_recovered', 'total_deaths', 'new_deaths', 'total_cases']
df_total.columns = new_col_names
df_total.tail()

,Date,Province,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases
11895,2021-03-06,Maluku,38,692,6319,53,105,0,7116
11896,2021-03-06,Papua,44,545,6944,29,126,0,7615
11897,2021-03-06,Papua,53,8021,9360,27,179,1,17560
11898,2021-03-06,Kalimantan Utara,61,2084,7802,35,152,0,10038
11899,2021-03-06,Gorontalo,13,292,4435,10,137,1,4864

In [138]:
# get old indo province dataset

df_old = pd.read_csv('indo_province_data.csv')
# df_old.tail()

In [159]:
# use only selected columns
cols = ['Location', 'Location Level', 'City or Regency', 'Country', 'Continent',
       'Island', 'Time Zone', 'Special Status', 'Total Regencies',
       'Total Cities', 'Total Districts', 'Total Urban Villages',
       'Total Rural Villages', 'Area (km2)', 'Population',
       'Population Density', 'Longitude', 'Latitude', 'Name_EN','id']
df_old_small = df_old[cols]
df_old_small.head()

,Location,Location Level,City or Regency,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
0,Jakarta Raya,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,dki jakarta,27
1,Jakarta Raya,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,dki jakarta,27
2,Indonesia,Country,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,indonesia,0
3,Jawa Barat,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,NaN,18,9.0,627,645.0,5312.0,35378,45161325,1276.55,107.603708,-6.920432,jawa barat,29
4,Riau,Province,NaN,Indonesia,Asia,Sumatera,UTC+07:00,NaN,10,2.0,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,riau,18

In [164]:
df_old_small.shape

(10694, 20)

In [165]:
df_total.shape

(11900, 9)

In [166]:
df_old_small2 =df_old_small.drop_duplicates(subset='Location')
df_old_small2.shape

(35, 20)

In [160]:
df_old_small.Location.unique()

array(['Jakarta Raya', 'Indonesia', 'Jawa Barat', 'Riau', 'Banten',
       'Sulawesi Tenggara', 'Kalimantan Timur', 'Yogyakarta',
       'Sumatera Utara', 'Jawa Tengah', 'Jawa Timur', 'Sulawesi Selatan',
       'Maluku', 'Papua', 'Maluku Utara', 'Aceh', 'Kalimantan Tengah',
       'Lampung', 'Sulawesi Tengah', 'Sumatera Barat', 'Irian Jaya Barat',
       'Kalimantan Utara', 'Sulawesi Barat', 'Sumatera Selatan', 'Bali',
       'Kalimantan Barat', 'Jambi', 'Kalimantan Selatan',
       'Bangka-Belitung', 'Kepulauan Riau', 'Bengkulu',
       'Nusa Tenggara Barat', 'Sulawesi Utara', 'Nusa Tenggara Timur',
       'Gorontalo'], dtype=object)

In [161]:
# check if matching Province Names
old_list = df_old_small.Location.unique()
new_list = df_total.Province.unique()
print(list(set(new_list) - set(old_list)))

[]

In [172]:
# add missing columns to new indo_province dataset
df_complete = pd.merge(df_total, df_old_small2, left_on='Province', right_on='Location')

In [176]:
df_complete =df_complete.sort_values(by='Date')
df_complete.tail(50)

,Date,Province,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases,Location,...,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
2098,2021-03-05,Banten,515,7134,22444,120,614,0,30192,Banten,...,155,313.0,1238.0,9663,10722374,1109.64,106.109004,-6.456736,banten,25
3848,2021-03-05,Sulawesi Selatan,196,3362,52941,263,869,7,57172,Sulawesi Selatan,...,311,792.0,2255.0,46717,9426885,201.78,120.162056,-3.731081,sulawesi selatan,19
11198,2021-03-05,Kalimantan Timur,293,6530,49422,514,1340,7,57292,Kalimantan Timur,...,103,197.0,841.0,129067,3552191,27.52,116.468440,0.453858,kalimantan timur,10
6296,2021-03-05,Papua,63,7996,9333,33,178,0,17507,Papua,...,560,110.0,5411.0,319036,4340348,13.60,138.696030,-4.666210,papua,17
1748,2021-03-05,Maluku Utara,4,491,3436,13,113,0,4040,Maluku Utara,...,116,118.0,1063.0,31983,1307803,40.89,127.539107,0.212037,maluku utara,14
10848,2021-03-05,Kalimantan Tengah,152,1311,12646,82,366,1,14323,Kalimantan Tengah,...,136,139.0,1432.0,153565,2570289,16.74,113.417654,-1.602485,kalimantan tengah,31
1048,2021-03-05,Maluku,9,707,6266,16,105,0,7078,Maluku,...,118,35.0,1198.0,46914,1847097,39.37,129.576792,-3.192572,maluku,13
11898,2021-03-05,Kalimantan Barat,29,425,4308,30,33,0,4766,Kalimantan Barat,...,174,99.0,2031.0,147307,5422814,36.81,111.121178,-0.086475,kalimantan barat,8
6297,2021-03-05,Papua,27,530,6915,14,126,0,7571,Papua,...,560,110.0,5411.0,319036,4340348,13.60,138.696030,-4.666210,papua,17
11548,2021-03-05,Jawa Timur,404,3012,119181,476,9257,19,131450,Jawa Timur,...,666,777.0,7724.0,47803,40479023,846.78,112.732941,-7.723346,jawa timur,7
1398,2021-03-05,Sulawesi Barat,14,997,4182,50,106,0,5285,Sulawesi Barat,...,69,73.0,575.0,16787,1559984,92.93,119.345019,-2.461746,sulawesi barat,32
5248,2021-03-05,Sumatera Utara,99,2526,21787,128,851,4,25164,Sumatera Utara,...,450,693.0,5417.0,72981,14874889,203.82,99.051964,2.191894,sumatera utara,4
6648,2021-03-05,Nusa Tenggara Timur,150,1938,7588,240,272,3,9798,Nusa Tenggara Timur,...,309,327.0,3026.0,48718,5411321,111.07,121.592271,-8.682205,nusa tenggara timur,16
10148,2021-03-05,Gorontalo,9,290,4425,17,136,0,4851,Gorontalo,...,77,72.0,657.0,11257,1180651,104.88,122.376058,0.687003,gorontalo,26
10498,2021-03-05,Jawa Tengah,949,42906,107109,291,6742,11,156757,Jawa Tengah,...,576,753.0,7809.0,32801,36364072,1108.64,110.201115,-7.259097,jawa tengah,30
698,2021-03-05,Bali,214,1997,32264,252,966,6,35227,Bali,...,57,80.0,636.0,5780,4216171,729.43,115.131714,-8.369472,bali,24
7698,2021-03-06,Sumatera Barat,58,972,14474,98,782,1,16228,Sumatera Barat,...,179,230.0,928.0,42013,5519245,131.37,100.465062,-0.850253,sumatera barat,2
7699,2021-03-06,Sumatera Barat,92,1010,27982,88,654,1,29646,Sumatera Barat,...,179,230.0,928.0,42013,5519245,131.37,100.465062,-0.850253,sumatera barat,2
6649,2021-03-06,Nusa Tenggara Timur,130,2030,7618,30,280,8,9928,Nusa Tenggara Timur,...,309,327.0,3026.0,48718,5411321,111.07,121.592271,-8.682205,nusa tenggara timur,16
4199,2021-03-06,Bengkulu,8,208,4662,10,147,0,5017,Bengkulu,...,129,172.0,1341.0,19919,1999539,100.38,102.338421,-3.533584,bengkulu,20
6299,2021-03-06,Papua,53,8021,9360,27,179,1,17560,Papua,...,560,110.0,5411.0,319036,4340348,13.60,138.696030,-4.666210,papua,17
5249,2021-03-06,Sumatera Utara,87,2520,21877,90,854,3,25251,Sumatera Utara,...,450,693.0,5417.0,72981,14874889,203.82,99.051964,2.191894,sumatera utara,4
4898,2021-03-06,Sulawesi Utara,27,2575,12030,8,498,2,15103,Sulawesi Utara,...,171,332.0,1507.0,13892,2641884,190.17,124.521240,1.259638,sulawesi utara,22
4899,2021-03-06,Sulawesi Utara,2,508,9385,24,200,0,10093,Sulawesi Utara,...,171,332.0,1507.0,13892,2641884,190.17,124.521240,1.259638,sulawesi utara,22
6298,2021-03-06,Papua,44,545,6944,29,126,0,7615,Papua,...,560,110.0,5411.0,319036,4340348,13.60,138.696030,-4.666210,papua,17
6999,2021-03-06,Jakarta Raya,1616,7290,335545,1697,5756,44,348591,Jakarta Raya,...,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,dki jakarta,27
11549,2021-03-06,Jawa Timur,393,2922,119644,463,9277,20,131843,Jawa Timur,...,666,777.0,7724.0,47803,40479023,846.78,112.732941,-7.723346,jawa timur,7
8049,2021-03-06,Nusa Tenggara Barat,3,1313,7196,26,345,1,8854,Nusa Tenggara Barat,...,117,145.0,995.0,18572,5270247,283.77,117.508626,-8.606999,nusa tenggara barat,15
349,2021-03-06,Aceh,16,1324,7894,18,387,0,9605,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
11199,2021-03-06,Kalimantan Timur,396,6448,49896,474,1344,4,57688,Kalimantan Timur,...,103,197.0,841.0,129067,3552191,27.52,116.468440,0.453858,kalimantan timur,10
699,2021-03-06,Bali,153,1926,32483,219,971,5,35380,Bali,...,57,80.0,636.0,5780,4216171,729.43,115.131714,-8.369472,bali,24
10849,2021-03-06,Kalimantan Tengah,122,1267,12810,164,368,2,14445,Kalimantan Tengah,...,136,139.0,1432.0,153565,2570289,16.74,113.417654,-1.602485,kalimantan tengah,31
1049,2021-03-06,Maluku,38,692,6319,53,105,0,7116,Maluku,...,118,35.0,1198.0,46914,1847097,39.37,129.576792,-3.192572,maluku,13
10499,2021-03-06,Jawa Tengah,586,43444,107156,47,6743,1,157343,Jawa Tengah,...,576,753.0,7809.0,32801,36364072,1108.64,110.201115,-7.259097,jawa tengah,30
1399,2021-03-06,Sulawesi Barat,4,910,4271,89,108,2,5289,Sulawesi Barat,...,69,73.0,575.0,16787,1559984,92.93,119.345019,-2.461746,sulawesi barat,32
10149,2021-03-06,Gorontalo,13,292,4435,10,137,1,4864,Gorontalo,...,77,72.0,657.0,11257,1180651,104.88,122.376058,0.687003,gorontalo,26
1749,2021-03-06,Maluku Utara,12,484,3455,19,113,0,4052,Maluku Utara,...,116,118.0,1063.0,31983,1307803,40.89,127.539107,0.212037,maluku utara,14
3849,2021-03-06,Sulawesi Selatan,165,3213,53251,310,873,4,57337,Sulawesi Selatan,...,311,792.0,2255.0,46717,9426885,201.78,120.162056,-3.731081,sulawesi selatan,19
9799,2021-03-06,Kalimantan Selatan,171,2049,20147,181,748,4,22944,Kalimantan Selatan,...,153,144.0,1864.0,38744,4023049,103.84,115.438578,-2.993595,kalimantan selatan,9
9449,2021-03-06,Kalimantan Utara,61,2084,7802,35,152,0,10038,Kalimantan Utara,...,53,35.0,447.0,75468,648407,8.59,116.218879,2.891013,kalimantan utara,0
2449,2021-03-06,Riau,68,961,30166,87,778,4,31905,Riau,...,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,riau,18
9099,2021-03-06,Jawa Barat,1094,36066,182453,1325,2515,1,221034,Jawa Barat,...,627,645.0,5312.0,35378,45161325,1276.55,107.603708,-6.920432,jawa barat,29
2799,2021-03-06,Lampung,41,856,11333,69,670,0,12859,Lampung,...,228,205.0,2435.0,34624,9095591,262.70,105.021437,-4.916793,lampung,12
5599,2021-03-06,Yogyakarta,89,5036,23099,249,703,5,28838,Yogyakarta,...,78,46.0,392.0,3133,3631015,1158.90,110.444878,-7.894502,daerah istimewa yogyakarta,3
8749,2021-03-06,Kepulauan Riau,13,160,8394,18,220,0,8774,Kepulauan Riau,...,75,142.0,275.0,8202,1929400,235.24,108.261746,3.916346,kepulauan riau,11
3149,2021-03-06,Bangka-Belitung,75,516,6989,85,113,1,7618,Bangka-Belitung,...,47,82.0,309.0,16424,1379767,84.01,106.549932,-2.447444,kepulauan bangka belitung,5
8399,2021-03-06,Jambi,17,1074,4452,34,85,0,5611,Jambi,...,141,163.0,1399.0,50058,3493357,69.79,102.723640,-1.697698,jambi,28
3499,2021-03-06,Sulawesi Tengah,34,1569,8491,4,263,0,10323,Sulawesi Tengah,...,175,175.0,1842.0,61841,2955567,47.79,121.201093,-1.004137,sulawesi tengah,21
2099,2021-03-06,Banten,13,6415,23163,719,627,13,30205,Banten,...,155,313.0,1238.0,9663,10722374,1109.64,106.109004,-6.456736,banten,25
11899,2021-03-06,Kalimantan Barat,73,472,4334,26,33,0,4839,Kalimantan Barat,...,174,99.0,2031.0,147307,5422814,36.81,111.121178,-0.086475,kalimantan barat,8

In [167]:
df_complete2.shape

(3623550, 29)

In [163]:
# df_complete2.head(100)
df_complete2.drop_duplicates()
df_complete2.head()

,Date,Province,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases,Location,...,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
0,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
1,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
2,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
3,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
4,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1

In [151]:

# print(df_complete.tail())
df_complete.head(100)
# calculate metrics (like growth rate, deaths per 100k)

,Date,Province_x,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases,Location,...,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
0,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
1,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
2,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
3,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
4,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
96,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
97,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
98,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1
99,2020-03-21,Aceh,0,0,0,0,0,0,0,Aceh,...,289,NaN,6497.0,57956,5247257,90.54,96.910522,4.225615,aceh,1

In [ ]:

## save as csv
# df_total.to_csv('indo_province_data')

## check

## add to main data processing Notebook