In [17]:

## To-Dos
##################
# in the end
## sort_dates
## save as csv
## check
## add to main data processing Notebook

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_excel('kawalcovid19_2021.04.09.xlsx', sheet_name="Timeline")
df.tail()

,Total Kasus,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Unnamed: 36
2942,2020-06-16 00:00:00,120,40.6667,335,538.333,1034,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2943,2020-06-17 00:00:00,123.333,56.3333,344.667,583.333,1107.67,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2944,2020-06-18 00:00:00,133.667,71.3333,358,664.333,1227.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2945,2020-06-19 00:00:00,147,63,331,656.333,1197.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2946,2020-06-20 00:00:00,164.667,49.6667,383.333,651.333,1249,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
## transform excel sheet to timeseries table (columns: Data, Province, total_cases, daily_cases, active_cases etc.)
case_type = ['Total Kasus', 'Kasus Harian', 'Kasus Aktif', 'Sembuh', 'Sembuh Harian', 'Meninggal Dunia', 'Meninggal Dunia Harian', 'Meninggal Dunia Harian']

In [21]:
# extract df for each case-type
##################################

# replace all NaN with 0
# delete empty rows
# adjust header
# extract for each Province, add Province Name and merge, and sort by date

df_totalKasus = df.iloc[:df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]]
df_totalKasus = df_totalKasus.rename(columns={'Total Kasus': "Date"})
df_totalKasus= df_totalKasus.fillna(0)
df_totalKasus.set_index('Date', inplace=True)
df_totalKasus= df_totalKasus[:-1]
df_totalKasus = df_totalKasus.drop(['?', 'Unnamed: 36'], axis=1)

df_kasusHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]]
df_kasusHarian = df_kasusHarian.rename(columns={'Total Kasus': "Date"})
df_kasusHarian= df_kasusHarian.fillna(0)
df_kasusHarian.set_index('Date', inplace=True)
df_kasusHarian= df_kasusHarian[1:-1]
df_kasusHarian = df_kasusHarian.drop(['?', 'Unnamed: 36'], axis=1)

df_kasusAktif = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]]
df_kasusAktif = df_kasusAktif.rename(columns={'Total Kasus': "Date"})
df_kasusAktif= df_kasusAktif.fillna(0)
df_kasusAktif.set_index('Date', inplace=True)
df_kasusAktif= df_kasusAktif[1:-1]
df_kasusAktif = df_kasusAktif.drop(['?', 'Unnamed: 36'], axis=1)

df_sembuh = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]]
df_sembuh = df_sembuh.rename(columns={'Total Kasus': "Date"})
df_sembuh= df_sembuh.fillna(0)
df_sembuh.set_index('Date', inplace=True)
df_sembuh= df_sembuh[1:-1]
df_sembuh = df_sembuh.drop(['?', 'Unnamed: 36'], axis=1)

df_sembuhHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]]
df_sembuhHarian = df_sembuhHarian.rename(columns={'Total Kasus': "Date"})
df_sembuhHarian= df_sembuhHarian.fillna(0)
df_sembuhHarian.set_index('Date', inplace=True)
df_sembuhHarian= df_sembuhHarian[1:-1]
df_sembuhHarian = df_sembuhHarian.drop(['?', 'Unnamed: 36'], axis=1)

df_meninggalDunia = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]]
df_meninggalDunia = df_meninggalDunia.rename(columns={'Total Kasus': "Date"})
df_meninggalDunia= df_meninggalDunia.fillna(0)
df_meninggalDunia.set_index('Date', inplace=True)
df_meninggalDunia= df_meninggalDunia[1:-1]
df_meninggalDunia = df_meninggalDunia.drop(['?', 'Unnamed: 36'], axis=1)

df_meninggalDuniaHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[1]]
df_meninggalDuniaHarian = df_meninggalDuniaHarian.rename(columns={'Total Kasus': "Date"})
df_meninggalDuniaHarian= df_meninggalDuniaHarian.fillna(0)
df_meninggalDuniaHarian.set_index('Date', inplace=True)
df_meninggalDuniaHarian= df_meninggalDuniaHarian[1:-3]
df_meninggalDuniaHarian = df_meninggalDuniaHarian.drop(['?', 'Unnamed: 36'], axis=1)

In [22]:

dfs = [df_totalKasus, df_kasusHarian, df_kasusAktif, df_sembuh, df_sembuhHarian, df_meninggalDunia, df_meninggalDuniaHarian]
dfs_names = ["df_totalKasus", "df_kasusHarian", "df_kasusAktif", "df_sembuh","df_sembuhHarian", "df_meninggalDunia", "df_meninggalDuniaHarian"]
dfs_type = ["totalKasus", "kasusHarian", "kasusAktif", "sembuh","sembuhHarian", "meninggalDunia", "meninggalDuniaHarian"]

In [23]:
column_names = df_totalKasus.columns
column_names

Index(['Aceh', 'Bali', 'Banten', 'Babel', 'Bengkulu', 'DIY', 'Jakarta',
       'Jambi', 'Jabar', 'Jateng', 'Jatim', 'Kalbar', 'Kaltim', 'Kalteng',
       'Kalsel', 'Kaltara', 'Kep Riau', 'NTB', 'Sumsel', 'Sumbar', 'Sulut',
       'Sumut', 'Sultra', 'Sulsel', 'Sulteng', 'Lampung', 'Riau', 'Malut',
       'Maluku', 'Papbar', 'Papua', 'Sulbar', 'NTT', 'Gorontalo'],
      dtype='object')

In [24]:
## First Dataframe - Total Cases per Province

df_totKasus = pd.DataFrame({'Province': [0], "Total Kasus":[0]})
for i, province in enumerate(column_names):
    case_numbers = df_totalKasus[province]
    df_x = pd.DataFrame({'Province': case_numbers, "Total Kasus": case_numbers })
    df_x["Province"] = column_names[i]
    # df_x['Total Kasus'] = df_totalKasus[province]
    if i == 0:
        df_totKasus = df_x
    else:
        df_totKasus = df_totKasus.append(df_x)

In [25]:
print(df_totKasus.shape)
df_totKasus1 = df_totKasus.reset_index()
df_totKasus1.head()

(13124, 2)

        Date Province  Total Kasus
0 2020-03-18     Aceh            0
1 2020-03-19     Aceh            0
2 2020-03-20     Aceh            0
3 2020-03-21     Aceh            0
4 2020-03-22     Aceh            0

In [26]:
df_totKasus1.tail()

            Date   Province  Total Kasus
13119 2021-04-03  Gorontalo         5191
13120 2021-04-04  Gorontalo         5202
13121 2021-04-05  Gorontalo         5202
13122 2021-04-06  Gorontalo         5209
13123 2021-04-07  Gorontalo         5225

In [27]:
## since memory error split dataframes (only with join)
## learning: if not merge on index -> use .merge() 2) reset_index() get datetime out of index first

dfs1 =dfs[1:]
df_total = pd.DataFrame({"Date": [0], 'Province': [0], dfs_type[0]:[0]})

for index, df in enumerate(dfs1):
    count = index + 1
    df_name = dfs_names[index+1]+'Clean'
    df_name = pd.DataFrame({"Date": [0], 'Province': [0], dfs_type[count]:[0]})
    for i, province in enumerate(column_names):
        case_numbers = df[province]
        df_x = pd.DataFrame({'Province': case_numbers, dfs_type[count]: case_numbers })
        df_x["Province"] = column_names[i]
        if i == 0:
            df_name = df_x
        else:
            df_name = df_name.append(df_x)

    df_name = df_name.reset_index()
    if index == 0:
        df_total = df_name
    else:
        df_total = pd.merge(df_total, df_name, on=['Date', 'Province'])

In [29]:
## sort_dates
# check if datetime format correct
print(df_total['Date'].iloc[0])
df_total = df_total.sort_values(by="Date")
df_total.head()

2020-03-21 00:00:00

,Date,Province,kasusHarian,kasusAktif,sembuh,sembuhHarian,meninggalDunia,meninggalDuniaHarian
0,2020-03-21,Aceh,0,0,0,0,0,0
2660,2020-03-21,Jambi,0,0,0,0,0,0
10260,2020-03-21,Malut,0,0,0,0,0,0
8740,2020-03-21,Sulsel,2,2,0,0,0,0
7980,2020-03-21,Sumut,0,1,0,0,1,0

In [30]:
# merge with total Kasus df from before
df_total = pd.merge(df_total, df_totKasus1, on=['Date', 'Province'])
df_total.tail()

,Date,Province,kasusHarian,kasusAktif,sembuh,sembuhHarian,meninggalDunia,meninggalDuniaHarian,Total Kasus
12915,2021-04-05,Maluku,2,382,6881,9,112,2,7375
12916,2021-04-05,Papbar,11,412,7859,33,135,0,8406
12917,2021-04-05,Papua,6,9017,10477,46,204,1,19698
12918,2021-04-05,Kaltara,7,1569,9537,3,176,1,11282
12919,2021-04-05,Gorontalo,0,192,4861,11,149,1,5202

In [28]:
df_total['Province'].unique()

array(['Aceh', 'Bali', 'Banten', 'Babel', 'Bengkulu', 'DIY', 'Jakarta',
       'Jambi', 'Jabar', 'Jateng', 'Jatim', 'Kalbar', 'Kaltim', 'Kalteng',
       'Kalsel', 'Kaltara', 'Kep Riau', 'NTB', 'Sumsel', 'Sumbar',
       'Sulut', 'Sumut', 'Sultra', 'Sulsel', 'Sulteng', 'Lampung', 'Riau',
       'Malut', 'Maluku', 'Papbar', 'Papua', 'Sulbar', 'NTT', 'Gorontalo'],
      dtype=object)

In [31]:
# adjust Province Names
indo_slang_prov_names = ['Aceh', 'Bali', 'Maluku', 'Sulbar', 'Malut', 'Banten', 'Riau',
       'Lampung', 'Babel', 'Sulteng', 'Sulsel', 'Bengkulu', 'Sultra',
       'Sumut', 'DIY', 'Papbar', 'Sulut', 'NTT', 'Jakarta', 'Sumsel',
       'NTB', 'Jambi', 'Kep Riau', 'Jabar', 'Kaltara', 'Kalsel',
       'Gorontalo', 'Jateng', 'Kalteng', 'Kaltim', 'Jatim', 'Sumbar',
       'Papua', 'Kalbar']

# from previous Indo-province dataset
correct_prov_names = ['Jakarta Raya', 'Indonesia', 'Jawa Barat', 'Riau', 'Banten',
       'Sulawesi Tenggara', 'Kalimantan Timur', 'Yogyakarta',
       'Sumatera Utara', 'Jawa Tengah', 'Jawa Timur', 'Sulawesi Selatan',
       'Maluku', 'Papua', 'Maluku Utara', 'Aceh', 'Kalimantan Tengah',
       'Lampung', 'Sulawesi Tengah', 'Sumatera Barat', 'Irian Jaya Barat',
       'Kalimantan Utara', 'Sulawesi Barat', 'Sumatera Selatan', 'Bali',
       'Kalimantan Barat', 'Jambi', 'Kalimantan Selatan',
       'Bangka-Belitung', 'Kepulauan Riau', 'Bengkulu',
       'Nusa Tenggara Barat', 'Nusa Tenggara Timur',
       'Gorontalo']

In [32]:

print(list(set(indo_slang_prov_names) - set(correct_prov_names)))

# adjust column names
df_total = df_total.replace({'Sultra': 'Sulawesi Utara'})
df_total = df_total.replace({"Jakarta": 'Jakarta Raya'})
df_total = df_total.replace({"Kalteng": 'Kalimantan Tengah'})
df_total = df_total.replace({'Sulsel': 'Sulawesi Selatan'})
df_total = df_total.replace({'Sulut': 'Sulawesi Utara'})
df_total = df_total.replace({'Kaltim': "Kalimantan Timur"})
df_total = df_total.replace({'Kalsel': 'Kalimantan Selatan'})
df_total = df_total.replace({'Malut': 'Maluku Utara'})
df_total = df_total.replace({'Sumsel': 'Sumatera Barat'})
df_total = df_total.replace({'NTT': 'Nusa Tenggara Timur'})
df_total = df_total.replace({'Kalbar': 'Kalimantan Barat'})
df_total = df_total.replace({'Jateng': 'Jawa Tengah'})
df_total = df_total.replace({'Kep Riau': 'Kepulauan Riau'})
df_total = df_total.replace({'Kaltara': 'Kalimantan Utara'})
df_total = df_total.replace({'Sulbar': 'Sulawesi Barat'})
df_total = df_total.replace({'Babel': 'Bangka-Belitung'})
df_total = df_total.replace({'Jatim': "Jawa Timur"})
df_total = df_total.replace({'Sumbar': 'Sumatera Barat'})
df_total = df_total.replace({"Sumut": 'Sumatera Utara'})
df_total = df_total.replace({'Jabar': 'Jawa Barat'})
df_total = df_total.replace({'NTB': 'Nusa Tenggara Barat'})
df_total = df_total.replace({'DIY': 'Yogyakarta'})
df_total = df_total.replace({'Sulteng': 'Sulawesi Tengah'})
df_total = df_total.replace({'Papbar': 'Papua'})
df_total = df_total.replace({'Jakarta': 'Jakarta Raya'})

['Sumut', 'Sulteng', 'Jateng', 'Kep Riau', 'Kalteng', 'DIY', 'Sulut', 'Kaltim', 'NTB', 'Kaltara', 'NTT', 'Sulbar', 'Sultra', 'Sumsel', 'Babel', 'Papbar', 'Sumbar', 'Kalbar', 'Malut', 'Kalsel', 'Jakarta', 'Sulsel', 'Jabar', 'Jatim']

In [33]:
df_total.columns

Index(['Date', 'Province', 'kasusHarian', 'kasusAktif', 'sembuh',
       'sembuhHarian', 'meninggalDunia', 'meninggalDuniaHarian',
       'Total Kasus'],
      dtype='object')

In [34]:
#adjust column names
new_col_names = ['Date', 'Province', 'new_cases', 'active_cases', 'total_recovered', 'new_recovered', 'total_deaths', 'new_deaths', 'total_cases']
df_total.columns = new_col_names
df_total.tail()

,Date,Province,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases
12915,2021-04-05,Maluku,2,382,6881,9,112,2,7375
12916,2021-04-05,Papua,11,412,7859,33,135,0,8406
12917,2021-04-05,Papua,6,9017,10477,46,204,1,19698
12918,2021-04-05,Kalimantan Utara,7,1569,9537,3,176,1,11282
12919,2021-04-05,Gorontalo,0,192,4861,11,149,1,5202

In [35]:
# get old indo province dataset for additional data
df_old = pd.read_csv('indo_province_data.csv')
# df_old.tail()

In [36]:
# use only selected columns
cols = ['Location', 'Location Level', 'City or Regency', 'Country', 'Continent',
       'Island', 'Time Zone', 'Special Status', 'Total Regencies',
       'Total Cities', 'Total Districts', 'Total Urban Villages',
       'Total Rural Villages', 'Area (km2)', 'Population',
       'Population Density', 'Longitude', 'Latitude', 'Name_EN','id']
df_old_small = df_old[cols]
df_old_small.head()

,Location,Location Level,City or Regency,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
0,Jakarta Raya,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,dki jakarta,27
1,Jakarta Raya,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,dki jakarta,27
2,Indonesia,Country,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,indonesia,0
3,Jawa Barat,Province,NaN,Indonesia,Asia,Jawa,UTC+07:00,NaN,18,9.0,627,645.0,5312.0,35378,45161325,1276.55,107.603708,-6.920432,jawa barat,29
4,Riau,Province,NaN,Indonesia,Asia,Sumatera,UTC+07:00,NaN,10,2.0,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,riau,18

In [37]:
df_old_small.shape

(13014, 20)

In [38]:
df_total.shape

(12920, 9)

In [39]:
df_old_small2 =df_old_small.drop_duplicates(subset='Location')
df_old_small2.shape

(35, 20)

In [40]:
df_old_small.Location.unique()

array(['Jakarta Raya', 'Indonesia', 'Jawa Barat', 'Riau', 'Banten',
       'Sulawesi Tenggara', 'Kalimantan Timur', 'Yogyakarta',
       'Sumatera Utara', 'Jawa Tengah', 'Jawa Timur', 'Sulawesi Selatan',
       'Jambi', 'Maluku', 'Papua', 'Maluku Utara', 'Aceh',
       'Kalimantan Tengah', 'Lampung', 'Sulawesi Tengah',
       'Sumatera Barat', 'Irian Jaya Barat', 'Kalimantan Utara',
       'Sulawesi Barat', 'Sumatera Selatan', 'Bali', 'Kalimantan Barat',
       'Kalimantan Selatan', 'Bangka-Belitung', 'Kepulauan Riau',
       'Bengkulu', 'Nusa Tenggara Barat', 'Sulawesi Utara',
       'Nusa Tenggara Timur', 'Gorontalo'], dtype=object)

In [41]:
# check if matching Province Names
old_list = df_old_small.Location.unique()
new_list = df_total.Province.unique()
print(list(set(new_list) - set(old_list)))

[]

In [42]:
# add missing columns to new indo_province dataset
df_complete = pd.merge(df_total, df_old_small2, left_on='Province', right_on='Location')

In [43]:
df_complete = df_complete.sort_values(by='Date')
df_complete.tail()

,Date,Province,new_cases,active_cases,total_recovered,new_recovered,total_deaths,new_deaths,total_cases,Location,...,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,Name_EN,id
11019,2021-04-05,Nusa Tenggara Timur,0,1734,10563,0,345,0,12642,Nusa Tenggara Timur,...,309,327.0,3026.0,48718,5411321,111.07,121.592271,-8.682205,nusa tenggara timur,16
11399,2021-04-05,Nusa Tenggara Barat,32,1763,7572,0,363,2,9698,Nusa Tenggara Barat,...,117,145.0,995.0,18572,5270247,283.77,117.508626,-8.606999,nusa tenggara barat,15
11779,2021-04-05,Kalimantan Tengah,106,2830,14467,142,398,2,17695,Kalimantan Tengah,...,136,139.0,1432.0,153565,2570289,16.74,113.417654,-1.602485,kalimantan tengah,31
6079,2021-04-05,Papua,6,9017,10477,46,204,1,19698,Papua,...,560,110.0,5411.0,319036,4340348,13.60,138.696030,-4.666210,papua,17
12919,2021-04-05,Kalimantan Selatan,153,3055,25118,119,851,4,29024,Kalimantan Selatan,...,153,144.0,1864.0,38744,4023049,103.84,115.438578,-2.993595,kalimantan selatan,9

In [44]:
df_complete.shape

(12920, 29)

In [45]:
# df_complete2.head(100)
df_complete = df_complete.drop_duplicates()
df_complete.shape

(12916, 29)

In [46]:
df_complete.columns

Index(['Date', 'Province', 'new_cases', 'active_cases', 'total_recovered',
       'new_recovered', 'total_deaths', 'new_deaths', 'total_cases',
       'Location', 'Location Level', 'City or Regency', 'Country', 'Continent',
       'Island', 'Time Zone', 'Special Status', 'Total Regencies',
       'Total Cities', 'Total Districts', 'Total Urban Villages',
       'Total Rural Villages', 'Area (km2)', 'Population',
       'Population Density', 'Longitude', 'Latitude', 'Name_EN', 'id'],
      dtype='object')

In [47]:
# ## add additional metrics
#########################################

df_complete['total_cases_per_100k'] = df_complete['total_cases'] / df_complete['Population'] * 100
df_complete['total_cases_per_100k'] = df_complete['total_cases_per_100k'].apply(pd.to_numeric).round(2)

df_complete['total_deaths_per_100k'] = df_complete['total_deaths'] / df_complete['Population'] * 100
df_complete['total_deaths_per_100k'] = df_complete['total_deaths_per_100k'].apply(pd.to_numeric).round(2)

df_complete['new_cases_per_mil'] = df_complete['new_cases'] / df_complete['Population']
df_complete['new_cases_per_mil'] = df_complete['new_cases_per_mil'].apply(pd.to_numeric)

df_complete['cases7'] = df_complete['new_cases'].rolling(window=7, center=False).mean()
df_complete['cases7_per_100k'] = df_complete['cases7'] / df_complete['Population'] * 100
df_complete['cases7_per_100k'] = df_complete['cases7_per_100k'].apply(pd.to_numeric).round(2)

df_complete['deaths7'] = df_complete['new_deaths'].rolling(window=7, center=False).mean()
df_complete['deaths7_per_100k'] = df_complete['total_deaths_per_100k'].rolling(window=7, center=False).mean()
df_complete['deaths7_per_100k'] = df_complete['deaths7_per_100k'].apply(pd.to_numeric).round(2)

df_complete['CFR'] = df_complete['total_deaths'] / df_complete['total_cases'] * 100
df_complete['CFR'] = df_complete['CFR'].round(2)

## Calculate in App after region selected and df only contains region?
df_complete['growth_rate_new_cases'] = df_complete['new_cases'].pct_change(fill_method ='ffill', periods=7)

In [53]:
df_complete[['Province', "CFR", 'deaths7', 'cases7', 'total_cases_per_100k', "new_cases_per_mil"]].tail()

,Province,CFR,deaths7,cases7,total_cases_per_100k,new_cases_per_mil
11019,Nusa Tenggara Timur,2.73,1.857143,45.571429,0.23,0.000000
11399,Nusa Tenggara Barat,3.74,1.857143,46.142857,0.18,0.000006
11779,Kalimantan Tengah,2.25,2.000000,61.285714,0.69,0.000041
6079,Papua,1.04,1.857143,61.857143,0.45,0.000001
12919,Kalimantan Selatan,2.93,2.142857,69.142857,0.72,0.000038

In [ ]:

## save as csv
# df_total.to_csv('indo_province_data')

## check

## add to main data processing Notebook