In [21]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_excel('kawalcovid19_Indo_Data.xlsx', sheet_name="Timeline")
df.head()

,Total Kasus,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo,?,Unnamed: 36
0,2020-03-18 00:00:00,0,1,17,0,0,3,158,0,24,...,1,0,0,0,0,0,0,0,0,NaN
1,2020-03-19 00:00:00,0,1,27,0,0,5,210,0,26,...,2,0,0,0,0,0,0,0,0,NaN
2,2020-03-20 00:00:00,0,4,37,0,0,4,215,0,41,...,1,0,0,0,0,0,0,0,13,NaN
3,2020-03-21 00:00:00,0,3,43,0,0,5,267,0,55,...,1,0,0,0,0,0,0,0,10,NaN
4,2020-03-22 00:00:00,0,3,47,0,0,5,307,0,59,...,1,0,1,0,2,0,0,0,6,NaN

In [56]:
# split df row-wise

# df_new=df.iloc[:df.loc[df.Name.str.contains('Total',na=False)].index[0]]

split_points = ['Total Kasus', 'Kasus Harian', 'Kasus Aktif', 'Sembuh', 'Sembuh Harian', 'Meninggal Dunia', 'Meninggal Dunia Harian']

In [103]:
# extract df for each case-type
##################################

# to do:
# replace all NaN with 0
# delete empty rows
# adjust header
# extract for each Province, add Province Name and merge, and sort by date


df_totalKasus = df.iloc[:df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]]

df_kasusHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]]

df_kasusAktif = df.iloc[df.loc[df['Total Kasus'].str.contains('Kasus Aktif', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]]

df_sembuh = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]]

df_sembuhHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Sembuh Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]]

df_meninggalDunia = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]]

df_meninggalDuniaHarian = df.iloc[df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[0]:df.loc[df['Total Kasus'].str.contains('Meninggal Dunia Harian', na=False)].index[1]]

df_frames = []

## as a loop
##############

# for i, x in  enumerate(split_points):
#     x = df.iloc[df.loc[df['Total Kasus'].str.contains(x, na=False)].index[0]: df.loc[df[split_points[i+1]].str.contains(split_points[i+1], na=False)].index[0]]

In [104]:
# df_totalKasus= df_totalKasus.fillna(0)
df_totalKasus.set_index('Total Kasus', inplace=True)
df_totalKasus= df_totalKasus[:-1]

,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,Jateng,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
Total Kasus,,,,,,,,,,,,,,,,,,,,,
2020-03-18,0,1,17,0,0,3,158,0,24,8,...,0,1,1,0,0,0,0,0,0,0
2020-03-19,0,1,27,0,0,5,210,0,26,12,...,0,1,2,0,0,0,0,0,0,0
2020-03-20,0,4,37,0,0,4,215,0,41,12,...,0,1,1,0,0,0,0,0,0,0
2020-03-21,0,3,43,0,0,5,267,0,55,14,...,0,1,1,0,0,0,0,0,0,0
2020-03-22,0,3,47,0,0,5,307,0,59,15,...,0,1,1,0,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-02,9557,34547,29594,7400,4949,28117,342371,5534,214528,154669,...,10133,12658,31542,3987,7021,7470,17165,5266,9404,4802
2021-03-03,9570,34745,29666,7461,4982,28346,343807,5543,216423,155217,...,10199,12717,31621,4030,7044,7517,17281,5268,9545,4819
2021-03-04,9580,35013,29677,7493,4994,28574,345816,5587,218154,155808,...,10276,12773,31708,4036,7069,7544,17444,5271,9648,4842
2021-03-05,9589,35227,30192,7543,5009,28749,346975,5594,219940,156757,...,10289,12818,31837,4040,7078,7571,17507,5285,9798,4851
2021-03-06,9605,35380,30205,7618,5017,28838,348591,5611,221034,157343,...,10323,12859,31905,4052,7116,7615,17560,5289,9928,4864

In [106]:
# 
df_totalKasus = df_totalKasus.drop(['?', 'Unnamed: 36'], axis=1)

column_names = df_totalKasus.columns
column_names

Index(['Aceh', 'Bali', 'Banten', 'Babel', 'Bengkulu', 'DIY', 'Jakarta',
       'Jambi', 'Jabar', 'Jateng', 'Jatim', 'Kalbar', 'Kaltim', 'Kalteng',
       'Kalsel', 'Kaltara', 'Kep Riau', 'NTB', 'Sumsel', 'Sumbar', 'Sulut',
       'Sumut', 'Sultra', 'Sulsel', 'Sulteng', 'Lampung', 'Riau', 'Malut',
       'Maluku', 'Papbar', 'Papua', 'Sulbar', 'NTT', 'Gorontalo'],
      dtype='object')

In [111]:

df_total = pd.DataFrame(index=[0,1], columns=['Total Kasus', 'Province'])
df_total = df_total.fillna(0)

df_x = df_totalKasus['Bali']
df_x['Province'] = "Bali"
df_x
# for province in column_names:
#     df_x = df_totalKasus[province]
#     df_x[province] = province
#     # df_total = df_total.append(df_x)
# df_x.head()
# df_total

Total Kasus
2020-03-18 00:00:00        1
2020-03-19 00:00:00        1
2020-03-20 00:00:00        4
2020-03-21 00:00:00        3
2020-03-22 00:00:00        3
                       ...
2021-03-04 00:00:00    35013
2021-03-05 00:00:00    35227
2021-03-06 00:00:00    35380
Bali                    Bali
Province                Bali
Name: Bali, Length: 356, dtype: object

In [ ]:


# for each column
df_totalKasus = df_totalKasus.set_index(df_totalKasus['Total Kasus'])
df_totalKasus.head()

In [17]:
df_bali = df_totalKasus[['Bali']]

df_bali.head()

            Bali
Total Kasus
2020-03-18     1
2020-03-19     1
2020-03-20     4
2020-03-21     3
2020-03-22     3

In [ ]:
df_bali.where()